<a href="https://colab.research.google.com/github/ekaratnida/Applied-machine-learning/blob/master/sna/fraud/10_data_loader_parquet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Preparation

In this notebook, we will re-construct the dataset.

Graph Neural Networks work by learning representation for nodes or edges of a graph that are well suited for some downstream task. We can model the fraud detection problem as a node classification task, and the goal of the graph neural network would be to learn how to use information from the topology of the sub-graph for each transaction node to transform the node's features to a representation space where the node can be easily classified as fraud or not.

Specifically, we will be using a relational graph convolutional neural network model (R-GCN) on a heterogeneous graph since we have nodes and edges of different types.

## Set up Colab environment

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
import os
cur_path = "/content/drive/MyDrive/graph-fraud-detection/"
os.chdir(cur_path)
!pwd

/content/drive/MyDrive/graph-fraud-detection

## Data Overview

Import the numpy and pandas modules.

In [4]:
import numpy as np
import pandas as pd

## Data Description

### Transaction Table
- TransactionDT: timedelta from a given reference datetime (not an actual timestamp)
- TransactionAMT: transaction payment amount in USD
- ProductCD: product code, the product for each transaction
- card1 - card6: payment card information, such as card type, card category, issue bank, country, etc.
- addr: address
- dist: distance
- P_ and (R__) emaildomain: purchaser and recipient email domain
- C1-C14: counting, such as how many addresses are found to be associated with the payment card, etc. The actual meaning is masked.
- D1-D15: timedelta, such as days between previous transaction, etc.
- M1-M9: match, such as names on card and address, etc.
- Vxxx: Vesta engineered rich features, including ranking, counting, and other entity relations.

Categorical Features:
- ProductCD
- card1 - card6
- addr1, addr2
- P_emaildomain
- R_emaildomain
- M1 - M9

## Identity Table
Variables in this table are identity information – network connection information (IP, ISP, Proxy, etc) and digital signature (UA/browser/os/version, etc) associated with transactions.
They're collected by Vesta’s fraud protection system and digital security partners.
(The field names are masked and pairwise dictionary will not be provided for privacy protection and contract agreement)

Categorical Features:
- DeviceType
- DeviceInfo
- id_12 - id_38

In [9]:
'''transaction_df = pd.read_csv('./ieee-data/train_transaction.csv')
identity_df = pd.read_csv('./ieee-data/train_identity.csv')
test_transaction = pd.read_csv('./ieee-data/test_transaction.csv')
test_identity = pd.read_csv('./ieee-data/test_identity.csv')'''

_transaction_df = pd.read_parquet('./ieee-data/train_transaction.parquet')
identity_df = pd.read_parquet('./ieee-data/train_identity.parquet')
test_transaction = pd.read_parquet('./ieee-data/test_transaction.parquet')
test_identity = pd.read_parquet('./ieee-data/test_identity.parquet')

In [13]:
# Sample 20% from each class
#transaction_df = transaction_df.groupby('isFraud', group_keys=False).apply(lambda x: x.sample(frac=0.2, random_state=42))

# Separate the classes
df_pos = _transaction_df[_transaction_df['isFraud'] == 1]
print("positive size", df_pos.shape)
df_neg = _transaction_df[_transaction_df['isFraud'] == 0]
print("negative size", df_neg.shape)

# Downsample negative class to match positive class size
df_neg_downsampled = df_neg.sample(n=len(df_pos)*2, random_state=42)

# Combine
transaction_df = pd.concat([df_pos, df_neg_downsampled], ignore_index=True)
print("New transaction size", transaction_df.shape)
print(transaction_df.isFraud.value_counts())

positive size (20663, 394)
negative size (569877, 394)
New negative size (61989, 394)

We provide a general processing framework to convert a relational table to heterogeneous graph edgelists based on the column types of the relational table. Some of the data transformation and feature engineering techniques include:

- Performing numerical encoding for categorical variables and logarithmic transformation for transaction amount
- Constructing graph edgelists between transactions and other entities for the various relation types

The inputs to the data preprocessing script are passed in as python command line arguments. All the columns in the relational table are classifed into one of 3 types for the purposes of data transformation:

- Identity columns --id-cols: columns that contain identity information related to a user or transaction for example IP address, Phone Number, device identifiers etc. These column types become node types in the heterogeneous graph, and the entries in these columns become the nodes. The column names for these column types need to passed in to the script.

- Categorical columns --cat-cols: columns that correspond to categorical features for a user's age group or whether a provided address matches with an address on file. The entries in these columns undergo numerical feature transformation and are used as node attributes in the heterogeneous graph. The columns names for these column types also needs to be passed in to the script

- Numerical columns: columns that correspond to numerical features like how many times a user has tried a transaction and so on. The entries here are also used as node attributes in the heterogeneous graph. The script assumes that all columns in the tables that are not identity columns or categorical columns are numerical columns

In [15]:
id_cols = ['card1','card2','card3','card4','card5','card6','ProductCD','addr1','addr2','P_emaildomain','R_emaildomain']
cat_cols = ['M1','M2','M3','M4','M5','M6','M7','M8','M9']
train_data_ratio = 0.8

Based on the train/test ratio we assigned before, extact the IDs of test data.

In [18]:
#n_train = int(transaction_df.shape[0]*train_data_ratio)
#print(n_train)
#test_ids = transaction_df.TransactionID.values[n_train:] #this is a validation set, not a test set.
#print(len(test_ids))
from sklearn.model_selection import train_test_split
X, y = transaction_df.drop(columns='isFraud'), transaction_df.isFraud
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=42)

In [19]:
#get_fraud_frac = lambda series: 100 * sum(series)/len(series)
#print("Percent fraud for train transactions: {}".format(get_fraud_frac(transaction_df.isFraud[:n_train])))
#print("Percent fraud for test transactions: {}".format(get_fraud_frac(transaction_df.isFraud[n_train:])))
#print("Percent fraud for all transactions: {}".format(get_fraud_frac(transaction_df.isFraud)))

 Save test IDs into the `test.csv` file

In [20]:
with open('data/test.csv', 'w') as f:
    f.writelines(map(lambda x: str(x) + "\n", X_test.TransactionID))

Based on the standard we talked about before, define non-feature-columns and feature-columns for creating graph.

In [21]:
non_feature_cols = ['isFraud', 'TransactionDT'] + id_cols
print(non_feature_cols)

['isFraud', 'TransactionDT', 'card1', 'card2', 'card3', 'card4', 'card5', 'card6', 'ProductCD', 'addr1', 'addr2', 'P_emaildomain', 'R_emaildomain']

In [22]:
feature_cols = [col for col in X_train.columns if col not in non_feature_cols]
print(feature_cols)

['TransactionID', 'TransactionAmt', 'dist1', 'dist2', 'C1', 'C2', 'C3', 'C4', 'C5', 'C6', 'C7', 'C8', 'C9', 'C10', 'C11', 'C12', 'C13', 'C14', 'D1', 'D2', 'D3', 'D4', 'D5', 'D6', 'D7', 'D8', 'D9', 'D10', 'D11', 'D12', 'D13', 'D14', 'D15', 'M1', 'M2', 'M3', 'M4', 'M5', 'M6', 'M7', 'M8', 'M9', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10', 'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20', 'V21', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'V29', 'V30', 'V31', 'V32', 'V33', 'V34', 'V35', 'V36', 'V37', 'V38', 'V39', 'V40', 'V41', 'V42', 'V43', 'V44', 'V45', 'V46', 'V47', 'V48', 'V49', 'V50', 'V51', 'V52', 'V53', 'V54', 'V55', 'V56', 'V57', 'V58', 'V59', 'V60', 'V61', 'V62', 'V63', 'V64', 'V65', 'V66', 'V67', 'V68', 'V69', 'V70', 'V71', 'V72', 'V73', 'V74', 'V75', 'V76', 'V77', 'V78', 'V79', 'V80', 'V81', 'V82', 'V83', 'V84', 'V85', 'V86', 'V87', 'V88', 'V89', 'V90', 'V91', 'V92', 'V93', 'V94', 'V95', 'V96', 'V97', 'V98', 'V99', 'V100', 'V101', 'V102', 'V103', 'V104', 'V105', 'V106', 'V107', 'V108', 'V109', 'V110', 'V111', 'V112', 'V113', 'V114', 'V115', 'V116', 'V117', 'V118', 'V119', 'V120', 'V121', 'V122', 'V123', 'V124', 'V125', 'V126', 'V127', 'V128', 'V129', 'V130', 'V131', 'V132', 'V133', 'V134', 'V135', 'V136', 'V137', 'V138', 'V139', 'V140', 'V141', 'V142', 'V143', 'V144', 'V145', 'V146', 'V147', 'V148', 'V149', 'V150', 'V151', 'V152', 'V153', 'V154', 'V155', 'V156', 'V157', 'V158', 'V159', 'V160', 'V161', 'V162', 'V163', 'V164', 'V165', 'V166', 'V167', 'V168', 'V169', 'V170', 'V171', 'V172', 'V173', 'V174', 'V175', 'V176', 'V177', 'V178', 'V179', 'V180', 'V181', 'V182', 'V183', 'V184', 'V185', 'V186', 'V187', 'V188', 'V189', 'V190', 'V191', 'V192', 'V193', 'V194', 'V195', 'V196', 'V197', 'V198', 'V199', 'V200', 'V201', 'V202', 'V203', 'V204', 'V205', 'V206', 'V207', 'V208', 'V209', 'V210', 'V211', 'V212', 'V213', 'V214', 'V215', 'V216', 'V217', 'V218', 'V219', 'V220', 'V221', 'V222', 'V223', 'V224', 'V225', 'V226', 'V227', 'V228', 'V229', 'V230', 'V231', 'V232', 'V233', 'V234', 'V235', 'V236', 'V237', 'V238', 'V239', 'V240', 'V241', 'V242', 'V243', 'V244', 'V245', 'V246', 'V247', 'V248', 'V249', 'V250', 'V251', 'V252', 'V253', 'V254', 'V255', 'V256', 'V257', 'V258', 'V259', 'V260', 'V261', 'V262', 'V263', 'V264', 'V265', 'V266', 'V267', 'V268', 'V269', 'V270', 'V271', 'V272', 'V273', 'V274', 'V275', 'V276', 'V277', 'V278', 'V279', 'V280', 'V281', 'V282', 'V283', 'V284', 'V285', 'V286', 'V287', 'V288', 'V289', 'V290', 'V291', 'V292', 'V293', 'V294', 'V295', 'V296', 'V297', 'V298', 'V299', 'V300', 'V301', 'V302', 'V303', 'V304', 'V305', 'V306', 'V307', 'V308', 'V309', 'V310', 'V311', 'V312', 'V313', 'V314', 'V315', 'V316', 'V317', 'V318', 'V319', 'V320', 'V321', 'V322', 'V323', 'V324', 'V325', 'V326', 'V327', 'V328', 'V329', 'V330', 'V331', 'V332', 'V333', 'V334', 'V335', 'V336', 'V337', 'V338', 'V339']

Transfer categorical features to be dummy variables and scale the `TransactionAmt` feature by log10.

In [23]:
features = pd.get_dummies(X_train[feature_cols], columns=cat_cols, dtype=float).fillna(0)
features['TransactionAmt'] = features['TransactionAmt'].apply(np.log10)

In [24]:
features.shape

(49591, 391)

In [25]:
print(list(features.columns))

['TransactionID', 'TransactionAmt', 'dist1', 'dist2', 'C1', 'C2', 'C3', 'C4', 'C5', 'C6', 'C7', 'C8', 'C9', 'C10', 'C11', 'C12', 'C13', 'C14', 'D1', 'D2', 'D3', 'D4', 'D5', 'D6', 'D7', 'D8', 'D9', 'D10', 'D11', 'D12', 'D13', 'D14', 'D15', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10', 'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20', 'V21', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'V29', 'V30', 'V31', 'V32', 'V33', 'V34', 'V35', 'V36', 'V37', 'V38', 'V39', 'V40', 'V41', 'V42', 'V43', 'V44', 'V45', 'V46', 'V47', 'V48', 'V49', 'V50', 'V51', 'V52', 'V53', 'V54', 'V55', 'V56', 'V57', 'V58', 'V59', 'V60', 'V61', 'V62', 'V63', 'V64', 'V65', 'V66', 'V67', 'V68', 'V69', 'V70', 'V71', 'V72', 'V73', 'V74', 'V75', 'V76', 'V77', 'V78', 'V79', 'V80', 'V81', 'V82', 'V83', 'V84', 'V85', 'V86', 'V87', 'V88', 'V89', 'V90', 'V91', 'V92', 'V93', 'V94', 'V95', 'V96', 'V97', 'V98', 'V99', 'V100', 'V101', 'V102', 'V103', 'V104', 'V105', 'V106', 'V107', 'V108', 'V109', 'V110', 'V111', 'V112', 'V113', 'V114', 'V115', 'V116', 'V117', 'V118', 'V119', 'V120', 'V121', 'V122', 'V123', 'V124', 'V125', 'V126', 'V127', 'V128', 'V129', 'V130', 'V131', 'V132', 'V133', 'V134', 'V135', 'V136', 'V137', 'V138', 'V139', 'V140', 'V141', 'V142', 'V143', 'V144', 'V145', 'V146', 'V147', 'V148', 'V149', 'V150', 'V151', 'V152', 'V153', 'V154', 'V155', 'V156', 'V157', 'V158', 'V159', 'V160', 'V161', 'V162', 'V163', 'V164', 'V165', 'V166', 'V167', 'V168', 'V169', 'V170', 'V171', 'V172', 'V173', 'V174', 'V175', 'V176', 'V177', 'V178', 'V179', 'V180', 'V181', 'V182', 'V183', 'V184', 'V185', 'V186', 'V187', 'V188', 'V189', 'V190', 'V191', 'V192', 'V193', 'V194', 'V195', 'V196', 'V197', 'V198', 'V199', 'V200', 'V201', 'V202', 'V203', 'V204', 'V205', 'V206', 'V207', 'V208', 'V209', 'V210', 'V211', 'V212', 'V213', 'V214', 'V215', 'V216', 'V217', 'V218', 'V219', 'V220', 'V221', 'V222', 'V223', 'V224', 'V225', 'V226', 'V227', 'V228', 'V229', 'V230', 'V231', 'V232', 'V233', 'V234', 'V235', 'V236', 'V237', 'V238', 'V239', 'V240', 'V241', 'V242', 'V243', 'V244', 'V245', 'V246', 'V247', 'V248', 'V249', 'V250', 'V251', 'V252', 'V253', 'V254', 'V255', 'V256', 'V257', 'V258', 'V259', 'V260', 'V261', 'V262', 'V263', 'V264', 'V265', 'V266', 'V267', 'V268', 'V269', 'V270', 'V271', 'V272', 'V273', 'V274', 'V275', 'V276', 'V277', 'V278', 'V279', 'V280', 'V281', 'V282', 'V283', 'V284', 'V285', 'V286', 'V287', 'V288', 'V289', 'V290', 'V291', 'V292', 'V293', 'V294', 'V295', 'V296', 'V297', 'V298', 'V299', 'V300', 'V301', 'V302', 'V303', 'V304', 'V305', 'V306', 'V307', 'V308', 'V309', 'V310', 'V311', 'V312', 'V313', 'V314', 'V315', 'V316', 'V317', 'V318', 'V319', 'V320', 'V321', 'V322', 'V323', 'V324', 'V325', 'V326', 'V327', 'V328', 'V329', 'V330', 'V331', 'V332', 'V333', 'V334', 'V335', 'V336', 'V337', 'V338', 'V339', 'M1_F', 'M1_T', 'M2_F', 'M2_T', 'M3_F', 'M3_T', 'M4_M0', 'M4_M1', 'M4_M2', 'M5_F', 'M5_T', 'M6_F', 'M6_T', 'M7_F', 'M7_T', 'M8_F', 'M8_T', 'M9_F', 'M9_T']

Save the features into `features.csv` for future training.

p.s. We don't need the index column and header.

In [26]:
features.to_csv('data/features.csv', index=False, header=False)
#features.to_parquet('data/features.parquet')

In [27]:
y_train.name

'isFraud'

Save the IDs and label into the `tags.csv`.

In [28]:
new_df = pd.concat([X_train['TransactionID'], y_train], axis=1)
new_df.to_csv('data/tags.csv', index=False)
#transaction_df[['TransactionID', 'isFraud']].to_csv('data/tags.csv', index=False)
#transaction_df[['TransactionID', 'isFraud']].to_parquet('data/tags.parquet')

Select the columns that define the edges.

In [29]:
edge_types = id_cols + list(identity_df.columns)
print(edge_types)

['card1', 'card2', 'card3', 'card4', 'card5', 'card6', 'ProductCD', 'addr1', 'addr2', 'P_emaildomain', 'R_emaildomain', 'TransactionID', 'id_01', 'id_02', 'id_03', 'id_04', 'id_05', 'id_06', 'id_07', 'id_08', 'id_09', 'id_10', 'id_11', 'id_12', 'id_13', 'id_14', 'id_15', 'id_16', 'id_17', 'id_18', 'id_19', 'id_20', 'id_21', 'id_22', 'id_23', 'id_24', 'id_25', 'id_26', 'id_27', 'id_28', 'id_29', 'id_30', 'id_31', 'id_32', 'id_33', 'id_34', 'id_35', 'id_36', 'id_37', 'id_38', 'DeviceType', 'DeviceInfo']

In [30]:
all_id_cols = ['TransactionID'] + id_cols
full_identity_df = transaction_df[all_id_cols].merge(identity_df, on='TransactionID', how='left')
full_identity_df.head(5)

,TransactionID,card1,card2,card3,card4,card5,card6,ProductCD,addr1,addr2,...,id_31,id_32,id_33,id_34,id_35,id_36,id_37,id_38,DeviceType,DeviceInfo
0,2987203,18268,583.0,150.0,visa,226.0,credit,W,251.0,87.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2987240,13413,103.0,185.0,visa,137.0,credit,C,NaN,NaN,...,chrome 54.0 for android,NaN,None,None,F,F,T,T,mobile,Redmi Note 4 Build/MMB29M
2,2987243,13413,103.0,185.0,visa,137.0,credit,C,NaN,NaN,...,chrome 54.0 for android,NaN,None,None,F,F,T,T,mobile,Redmi Note 4 Build/MMB29M
3,2987245,13413,103.0,185.0,visa,137.0,credit,C,NaN,NaN,...,chrome 54.0 for android,NaN,None,None,F,F,T,T,mobile,Redmi Note 4 Build/MMB29M
4,2987288,16578,545.0,185.0,visa,226.0,credit,C,NaN,NaN,...,chrome 62.0 for ios,NaN,None,None,F,F,F,F,mobile,None

In [31]:
full_identity_df.shape

(61989, 52)

For each identity feature, save the data into the corresponding `relation_{FEATURE NAME}_edgelist.csv`. Each csv file represents one kind of edge.

In [32]:
edges = {}
for etype in edge_types:
    #print(etype)
    if etype == 'TransactionID':
        edgelist = full_identity_df[['TransactionID']].dropna()
    else:
        edgelist = full_identity_df[['TransactionID', etype]].dropna()
        edgelist.columns = ['TransactionID', etype] # Rename the second column

    edgelist.to_csv('data/relation_{}_edgelist.csv'.format(etype))
    edges[etype] = edgelist

print(edges)

{'card1':        TransactionID  card1
0            2987203  18268
1            2987240  13413
2            2987243  13413
3            2987245  13413
4            2987288  16578
...              ...    ...
61984        3458465   3094
61985        3218150  11333
61986        3163435  10112
61987        3135772   2443
61988        3436745   8320

[61989 rows x 2 columns], 'card2':        TransactionID  card2
0            2987203  583.0
1            2987240  103.0
2            2987243  103.0
3            2987245  103.0
4            2987288  545.0
...              ...    ...
61984        3458465  276.0
61985        3218150  555.0
61986        3163435  360.0
61987        3135772  555.0
61988        3436745  476.0

[60931 rows x 2 columns], 'card3':        TransactionID  card3
0            2987203  150.0
1            2987240  185.0
2            2987243  185.0
3            2987245  185.0
4            2987288  185.0
...              ...    ...
61984        3458465  150.0
61985        3218150  150.0
61986        3163435  150.0
61987        3135772  150.0
61988        3436745  150.0

[61843 rows x 2 columns], 'card4':        TransactionID card4
0            2987203  visa
1            2987240  visa
2            2987243  visa
3            2987245  visa
4            2987288  visa
...              ...   ...
61984        3458465  visa
61985        3218150  visa
61986        3163435  visa
61987        3135772  visa
61988        3436745  visa

[61841 rows x 2 columns], 'card5':        TransactionID  card5
0            2987203  226.0
1            2987240  137.0
2            2987243  137.0
3            2987245  137.0
4            2987288  226.0
...              ...    ...
61984        3458465  226.0
61985        3218150  226.0
61986        3163435  166.0
61987        3135772  226.0
61988        3436745  166.0

[61495 rows x 2 columns], 'card6':        TransactionID   card6
0            2987203  credit
1            2987240  credit
2            2987243  credit
3            2987245  credit
4            2987288  credit
...              ...     ...
61984        3458465   debit
61985        3218150   debit
61986        3163435   debit
61987        3135772   debit
61988        3436745   debit

[61843 rows x 2 columns], 'ProductCD':        TransactionID ProductCD
0            2987203         W
1            2987240         C
2            2987243         C
3            2987245         C
4            2987288         C
...              ...       ...
61984        3458465         W
61985        3218150         W
61986        3163435         W
61987        3135772         S
61988        3436745         W

[61989 rows x 2 columns], 'addr1':        TransactionID  addr1
0            2987203  251.0
5            2987367  472.0
9            2987736  231.0
10           2987779  441.0
11           2987780  441.0
...              ...    ...
61984        3458465  191.0
61985        3218150  433.0
61986        3163435  204.0
61987        3135772  184.0
61988        3436745  337.0

[49976 rows x 2 columns], 'addr2':        TransactionID  addr2
0            2987203   87.0
5            2987367   87.0
9            2987736   87.0
10           2987779   87.0
11           2987780   87.0
...              ...    ...
61984        3458465   87.0
61985        3218150   87.0
61986        3163435   87.0
61987        3135772   87.0
61988        3436745   87.0

[49976 rows x 2 columns], 'P_emaildomain':        TransactionID P_emaildomain
0            2987203       aol.com
1            2987240   hotmail.com
2            2987243   hotmail.com
3            2987245   hotmail.com
4            2987288   outlook.com
...              ...           ...
61982        3149031   hotmail.com
61983        3285042     gmail.com
61984        3458465       aol.com
61986        3163435     gmail.com
61988        3436745     gmail.com

[52498 rows x 2 columns], 'R_emaildomain':        TransactionID  R_emaildomain
1            2987240    hotmail.com
2            2987243    hotmail.com
3            2987245    hotmail.com
4            2987288    outlook.com
5            2987367      gmail.com
...              ...            ...
61972        3440433      gmail.com
61973        3107238  anonymous.com
61978        3431738      gmail.com
61982        3149031    hotmail.com
61987        3135772      gmail.com

[20523 rows x 2 columns], 'TransactionID':        TransactionID
0            2987203
1            2987240
2            2987243
3            2987245
4            2987288
...              ...
61984        3458465
61985        3218150
61986        3163435
61987        3135772
61988        3436745

[61989 rows x 1 columns], 'id_01':        TransactionID  id_01
1            2987240    0.0
2            2987243    0.0
3            2987245    0.0
4            2987288  -20.0
5            2987367   -5.0
...              ...    ...
61964        3078174  -10.0
61972        3440433   -5.0
61973        3107238  -30.0
61978        3431738   -5.0
61987        3135772   -5.0

[21088 rows x 2 columns], 'id_02':        TransactionID     id_02
1            2987240  169947.0
2            2987243  222455.0
3            2987245  271870.0
4            2987288  258138.0
5            2987367  141271.0
...              ...       ...
61964        3078174  238792.0
61972        3440433  412814.0
61973        3107238   79354.0
61978        3431738  108584.0
61987        3135772   68755.0

[20748 rows x 2 columns], 'id_03':        TransactionID  id_03
1            2987240    0.0
2            2987243    0.0
3            2987245    0.0
11           2987780    0.0
12           2987781    0.0
...              ...    ...
61959        3548180    0.0
61964        3078174    0.0
61972        3440433    0.0
61973        3107238    0.0
61987        3135772    0.0

[11510 rows x 2 columns], 'id_04':        TransactionID  id_04
1            2987240    0.0
2            2987243    0.0
3            2987245    0.0
11           2987780    0.0
12           2987781    0.0
...              ...    ...
61959        3548180    0.0
61964        3078174    0.0
61972        3440433    0.0
61973        3107238    0.0
61987        3135772    0.0

[11510 rows x 2 columns], 'id_05':        TransactionID  id_05
1            2987240    3.0
2            2987243    0.0
3            2987245    3.0
4            2987288    0.0
5            2987367    9.0
...              ...    ...
61964        3078174    0.0
61972        3440433  -11.0
61973        3107238    0.0
61978        3431738    0.0
61987        3135772    1.0

[20224 rows x 2 columns], 'id_06':        TransactionID  id_06
1            2987240    0.0
2            2987243    0.0
3            2987245    0.0
4            2987288   -1.0
5            2987367  -81.0
...              ...    ...
61964        3078174    0.0
61972        3440433  -62.0
61973        3107238    0.0
61978        3431738   -1.0
61987        3135772    0.0

[20224 rows x 2 columns], 'id_07':        TransactionID  id_07
15           2988062   -1.0
16           2988064   -1.0
35           2988702    2.0
37           2988706    2.0
65           2990559   -4.0
...              ...    ...
61305        3419771   21.0
61337        3541982   15.0
61827        3042038   29.0
61922        3040964  -13.0
61964        3078174   23.0

[791 rows x 2 columns], 'id_08':        TransactionID  id_08
15           2988062 -100.0
16           2988064 -100.0
35           2988702  -33.0
37           2988706  -33.0
65           2990559 -100.0
...              ...    ...
61305        3419771  -26.0
61337        3541982  -49.0
61827        3042038   -9.0
61922        3040964 -100.0
61964        3078174  -12.0

[791 rows x 2 columns], 'id_09':        TransactionID  id_09
1            2987240    0.0
2            2987243    0.0
3            2987245    0.0
5            2987367    0.0
8            2987683    0.0
...              ...    ...
61959        3548180    0.0
61964        3078174    0.0
61972        3440433    0.0
61973        3107238    0.0
61987        3135772    0.0

[12816 rows x 2 columns], 'id_10':        TransactionID  id_10
1            2987240    0.0
2            2987243    0.0
3            2987245    0.0
5            2987367    0.0
8            2987683    0.0
...              ...    ...
61959        3548180    0.0
61964        3078174    0.0
61972        3440433    0.0
61973        3107238    0.0
61987        3135772    0.0

[12816 rows x 2 columns], 'id_11':        TransactionID       id_11
1            2987240  100.000000
2            2987243  100.000000
3            2987245  100.000000
4            2987288  100.000000
5            2987367   97.540001
...              ...         ...
61964        3078174  100.000000
61972        3440433  100.000000
61973        3107238  100.000000
61978        3431738  100.000000
61987        3135772  100.000000

[20749 rows x 2 columns], 'id_12':        TransactionID     id_12
1            2987240  NotFound
2            2987243  NotFound
3            2987245  NotFound
4            2987288  NotFound
5            2987367  NotFound
...              ...       ...
61964        3078174     Found
61972        3440433  NotFound
61973        3107238  NotFound
61978        3431738  NotFound
61987        3135772     Found

[21088 rows x 2 columns], 'id_13':        TransactionID  id_13
2            2987243   43.0
3            2987245   43.0
4            2987288   49.0
5            2987367   52.0
6            2987405   49.0
...              ...    ...
61964        3078174   52.0
61972        3440433   64.0
61973        3107238   52.0
61978        3431738   52.0
61987        3135772   52.0

[19175 rows x 2 columns], 'id_14':        TransactionID  id_14
5            2987367 -300.0
10           2987779 -300.0
11           2987780 -300.0
12           2987781 -300.0
13           2987869 -360.0
...              ...    ...
61959        3548180 -360.0
61960        3496776 -480.0
61964        3078174 -480.0
61978        3431738 -300.0
61987        3135772 -300.0

[9183 rows x 2 columns], 'id_15':        TransactionID    id_15
1            2987240    Found
2            2987243    Found
3            2987245    Found
4            2987288  Unknown
5            2987367      New
...              ...      ...
61964        3078174    Found
61972        3440433    Found
61973        3107238    Found
61978        3431738      New
61987        3135772    Found

[20753 rows x 2 columns], 'id_16':        TransactionID     id_16
1            2987240     Found
2            2987243     Found
3            2987245     Found
5            2987367  NotFound
8            2987683  NotFound
...              ...       ...
61964        3078174     Found
61972        3440433     Found
61973        3107238     Found
61978        3431738  NotFound
61987        3135772     Found

[18872 rows x 2 columns], 'id_17':        TransactionID  id_17
1            2987240  225.0
2            2987243  225.0
3            2987245  225.0
4            2987288  225.0
5            2987367  166.0
...              ...    ...
61964        3078174  166.0
61972        3440433  225.0
61973        3107238  225.0
61978        3431738  166.0
61987        3135772  166.0

[20461 rows x 2 columns], 'id_18':        TransactionID  id_18
5            2987367   13.0
35           2988702   12.0
37           2988706   12.0
46           2989116   15.0
54           2989598   12.0
...              ...    ...
61882        3379770   15.0
61940        3255654   15.0
61956        3329730   13.0
61972        3440433   15.0
61978        3431738   13.0

[6740 rows x 2 columns], 'id_19':        TransactionID  id_19
1            2987240  266.0
2            2987243  266.0
3            2987245  266.0
4            2987288  290.0
5            2987367  121.0
...              ...    ...
61964        3078174  546.0
61972        3440433  176.0
61973        3107238  607.0
61978        3431738  193.0
61987        3135772  214.0

[20453 rows x 2 columns], 'id_20':        TransactionID  id_20
1            2987240  325.0
2            2987243  325.0
3            2987245  325.0
4            2987288  401.0
5            2987367  333.0
...              ...    ...
61964        3078174  222.0
61972        3440433  507.0
61973        3107238  561.0
61978        3431738  278.0
61987        3135772  533.0

[20442 rows x 2 columns], 'id_21':        TransactionID  id_21
15           2988062  657.0
16           2988064  657.0
35           2988702  252.0
37           2988706  252.0
65           2990559  657.0
...              ...    ...
61305        3419771  252.0
61337        3541982  228.0
61827        3042038  514.0
61922        3040964  189.0
61964        3078174  358.0

[792 rows x 2 columns], 'id_22':        TransactionID  id_22
15           2988062   41.0
16           2988064   41.0
35           2988702   14.0
37           2988706   14.0
65           2990559   41.0
...              ...    ...
61305        3419771   14.0
61337        3541982   14.0
61827        3042038   14.0
61922        3040964   14.0
61964        3078174   14.0

[793 rows x 2 columns], 'id_23':        TransactionID                 id_23
15           2988062    IP_PROXY:ANONYMOUS
16           2988064    IP_PROXY:ANONYMOUS
35           2988702  IP_PROXY:TRANSPARENT
37           2988706  IP_PROXY:TRANSPARENT
65           2990559    IP_PROXY:ANONYMOUS
...              ...                   ...
61305        3419771  IP_PROXY:TRANSPARENT
61337        3541982  IP_PROXY:TRANSPARENT
61827        3042038  IP_PROXY:TRANSPARENT
61922        3040964       IP_PROXY:HIDDEN
61964        3078174  IP_PROXY:TRANSPARENT

[793 rows x 2 columns], 'id_24':        TransactionID  id_24
15           2988062   15.0
16           2988064   15.0
35           2988702   11.0
37           2988706   11.0
65           2990559   15.0
...              ...    ...
61305        3419771   11.0
61337        3541982   16.0
61827        3042038   15.0
61922        3040964   15.0
61964        3078174   16.0

[742 rows x 2 columns], 'id_25':        TransactionID  id_25
15           2988062  161.0
16           2988064  161.0
35           2988702  321.0
37           2988706  321.0
65           2990559  161.0
...              ...    ...
61305        3419771  321.0
61337        3541982  426.0
61827        3042038  141.0
61922        3040964  512.0
61964        3078174  334.0

[783 rows x 2 columns], 'id_26':        TransactionID  id_26
15           2988062  159.0
16           2988064  159.0
35           2988702  184.0
37           2988706  184.0
65           2990559  159.0
...              ...    ...
61305        3419771  142.0
61337        3541982  161.0
61827        3042038  142.0
61922        3040964  184.0
61964        3078174  161.0

[791 rows x 2 columns], 'id_27':        TransactionID  id_27
15           2988062  Found
16           2988064  Found
35           2988702  Found
37           2988706  Found
65           2990559  Found
...              ...    ...
61305        3419771  Found
61337        3541982  Found
61827        3042038  Found
61922        3040964  Found
61964        3078174  Found

[793 rows x 2 columns], 'id_28':        TransactionID  id_28
1            2987240  Found
2            2987243  Found
3            2987245  Found
4            2987288    New
5            2987367  Found
...              ...    ...
61964        3078174  Found
61972        3440433  Found
61973        3107238  Found
61978        3431738    New
61987        3135772  Found

[20749 rows x 2 columns], 'id_29':        TransactionID     id_29
1            2987240     Found
2            2987243     Found
3            2987245     Found
4            2987288  NotFound
5            2987367     Found
...              ...       ...
61964        3078174     Found
61972        3440433     Found
61973        3107238     Found
61978        3431738  NotFound
61987        3135772     Found

[20749 rows x 2 columns], 'id_30':        TransactionID          id_30
5            2987367     Windows 10
10           2987779  Android 5.1.1
11           2987780  Android 5.1.1
12           2987781  Android 5.1.1
35           2988702     iOS 11.1.2
...              ...            ...
61959        3548180     iOS 11.3.0
61960        3496776      Windows 7
61964        3078174      Windows 7
61978        3431738      Windows 7
61987        3135772     Windows 10

[8873 rows x 2 columns], 'id_31':        TransactionID                    id_31
1            2987240  chrome 54.0 for android
2            2987243  chrome 54.0 for android
3            2987245  chrome 54.0 for android
4            2987288      chrome 62.0 for ios
5            2987367                  firefox
...              ...                      ...
61964        3078174             firefox 57.0
61972        3440433           chrome generic
61973        3107238              chrome 63.0
61978        3431738      ie 11.0 for desktop
61987        3135772              chrome 63.0

[20650 rows x 2 columns], 'id_32':        TransactionID  id_32
5            2987367   24.0
10           2987779   32.0
11           2987780   32.0
12           2987781   32.0
35           2988702   32.0
...              ...    ...
61959        3548180   32.0
61960        3496776   24.0
61964        3078174   24.0
61978        3431738   24.0
61987        3135772   24.0

[8882 rows x 2 columns], 'id_33':        TransactionID      id_33
5            2987367   1440x900
10           2987779   1024x600
11           2987780   1024x600
12           2987781   1024x600
35           2988702  2208x1242
...              ...        ...
61959        3548180  2436x1125
61960        3496776   1600x899
61964        3078174  1920x1080
61978        3431738  1920x1080
61987        3135772   1600x900

[8499 rows x 2 columns], 'id_34':        TransactionID           id_34
5            2987367  match_status:2
10           2987779  match_status:2
11           2987780  match_status:2
12           2987781  match_status:2
35           2988702  match_status:1
...              ...             ...
61959        3548180  match_status:2
61960        3496776  match_status:2
61964        3078174  match_status:2
61978        3431738  match_status:2
61987        3135772  match_status:2

[8927 rows x 2 columns], 'id_35':        TransactionID id_35
1            2987240     F
2            2987243     F
3            2987245     F
4            2987288     F
5            2987367     T
...              ...   ...
61964        3078174     T
61972        3440433     F
61973        3107238     F
61978        3431738     T
61987        3135772     T

[20753 rows x 2 columns], 'id_36':        TransactionID id_36
1            2987240     F
2            2987243     F
3            2987245     F
4            2987288     F
5            2987367     F
...              ...   ...
61964        3078174     F
61972        3440433     F
61973        3107238     F
61978        3431738     F
61987        3135772     F

[20753 rows x 2 columns], 'id_37':        TransactionID id_37
1            2987240     T
2            2987243     T
3            2987245     T
4            2987288     F
5            2987367     T
...              ...   ...
61964        3078174     T
61972        3440433     T
61973        3107238     T
61978        3431738     T
61987        3135772     T

[20753 rows x 2 columns], 'id_38':        TransactionID id_38
1            2987240     T
2            2987243     T
3            2987245     T
4            2987288     F
5            2987367     F
...              ...   ...
61964        3078174     F
61972        3440433     F
61973        3107238     T
61978        3431738     T
61987        3135772     T

[20753 rows x 2 columns], 'DeviceType':        TransactionID DeviceType
1            2987240     mobile
2            2987243     mobile
3            2987245     mobile
4            2987288     mobile
5            2987367    desktop
...              ...        ...
61964        3078174    desktop
61972        3440433    desktop
61973        3107238    desktop
61978        3431738    desktop
61987        3135772    desktop


Let's re-check the edges we defined.

In [33]:
import glob

file_list = glob.glob('./data/*edgelist.csv')

edges = ",".join(map(lambda x: x.split("/")[-1], [file for file in file_list if "relation" in file]))

edges_full = ''
for etype in edge_types:
    edges_full += ',data/relation_{}_edgelist.csv'.format(etype)

In [34]:
edges

'relation_card1_edgelist.csv,relation_card2_edgelist.csv,relation_card3_edgelist.csv,relation_card4_edgelist.csv,relation_card5_edgelist.csv,relation_card6_edgelist.csv,relation_ProductCD_edgelist.csv,relation_addr1_edgelist.csv,relation_addr2_edgelist.csv,relation_P_emaildomain_edgelist.csv,relation_R_emaildomain_edgelist.csv,relation_TransactionID_edgelist.csv,relation_id_01_edgelist.csv,relation_id_02_edgelist.csv,relation_id_03_edgelist.csv,relation_id_04_edgelist.csv,relation_id_05_edgelist.csv,relation_id_06_edgelist.csv,relation_id_07_edgelist.csv,relation_id_08_edgelist.csv,relation_id_09_edgelist.csv,relation_id_10_edgelist.csv,relation_id_11_edgelist.csv,relation_id_12_edgelist.csv,relation_id_13_edgelist.csv,relation_id_14_edgelist.csv,relation_id_15_edgelist.csv,relation_id_16_edgelist.csv,relation_id_17_edgelist.csv,relation_id_18_edgelist.csv,relation_id_19_edgelist.csv,relation_id_20_edgelist.csv,relation_id_21_edgelist.csv,relation_id_22_edgelist.csv,relation_id_23_edgelist.csv,relation_id_24_edgelist.csv,relation_id_25_edgelist.csv,relation_id_26_edgelist.csv,relation_id_27_edgelist.csv,relation_id_28_edgelist.csv,relation_id_29_edgelist.csv,relation_id_30_edgelist.csv,relation_id_31_edgelist.csv,relation_id_32_edgelist.csv,relation_id_33_edgelist.csv,relation_id_34_edgelist.csv,relation_id_35_edgelist.csv,relation_id_36_edgelist.csv,relation_id_37_edgelist.csv,relation_id_38_edgelist.csv,relation_DeviceType_edgelist.csv,relation_DeviceInfo_edgelist.csv'

In [35]:
#import networkx as nx
#nx.draw_networkx(G_train, edge_color=[G_train.edges[i]['isFraud'] for i in G_train.edges()], node_size=2, with_labels=False,alpha=0.3)