<a href="https://colab.research.google.com/github/ekaratnida/Applied-machine-learning/blob/master/sna/fraud/10_data_loader_parquet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Preparation

In this notebook, we will re-construct the dataset.

Graph Neural Networks work by learning representation for nodes or edges of a graph that are well suited for some downstream task. We can model the fraud detection problem as a node classification task, and the goal of the graph neural network would be to learn how to use information from the topology of the sub-graph for each transaction node to transform the node's features to a representation space where the node can be easily classified as fraud or not.

Specifically, we will be using a relational graph convolutional neural network model (R-GCN) on a heterogeneous graph since we have nodes and edges of different types.

## Set up Colab environment

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import os
cur_path = "/content/drive/MyDrive/graph-fraud-detection/"
os.chdir(cur_path)
!pwd

/content/drive/MyDrive/graph-fraud-detection

## Data Overview

Import the numpy and pandas modules.

In [3]:
import numpy as np
import pandas as pd

## Data Description

### Transaction Table
- TransactionDT: timedelta from a given reference datetime (not an actual timestamp)
- TransactionAMT: transaction payment amount in USD
- ProductCD: product code, the product for each transaction
- card1 - card6: payment card information, such as card type, card category, issue bank, country, etc.
- addr: address
- dist: distance
- P_ and (R__) emaildomain: purchaser and recipient email domain
- C1-C14: counting, such as how many addresses are found to be associated with the payment card, etc. The actual meaning is masked.
- D1-D15: timedelta, such as days between previous transaction, etc.
- M1-M9: match, such as names on card and address, etc.
- Vxxx: Vesta engineered rich features, including ranking, counting, and other entity relations.

Categorical Features:
- ProductCD
- card1 - card6
- addr1, addr2
- P_emaildomain
- R_emaildomain
- M1 - M9

## Identity Table
Variables in this table are identity information – network connection information (IP, ISP, Proxy, etc) and digital signature (UA/browser/os/version, etc) associated with transactions.
They're collected by Vesta’s fraud protection system and digital security partners.
(The field names are masked and pairwise dictionary will not be provided for privacy protection and contract agreement)

Categorical Features:
- DeviceType
- DeviceInfo
- id_12 - id_38

In [42]:
'''transaction_df = pd.read_csv('./ieee-data/train_transaction.csv')
identity_df = pd.read_csv('./ieee-data/train_identity.csv')
test_transaction = pd.read_csv('./ieee-data/test_transaction.csv')
test_identity = pd.read_csv('./ieee-data/test_identity.csv')'''

transaction_df = pd.read_parquet('./ieee-data/train_transaction.parquet')
identity_df = pd.read_parquet('./ieee-data/train_identity.parquet')
test_transaction = pd.read_parquet('./ieee-data/test_transaction.parquet')
test_identity = pd.read_parquet('./ieee-data/test_identity.parquet')

In [58]:
# Sample 20% from each class
#transaction_df = transaction_df.groupby('isFraud', group_keys=False).apply(lambda x: x.sample(frac=0.2, random_state=42))

# Separate the classes
df_pos = transaction_df[transaction_df['isFraud'] == 1]
df_neg = transaction_df[transaction_df['isFraud'] == 0]

# Downsample negative class to match positive class size
df_neg_downsampled = df_neg.sample(n=len(df_pos)*10, random_state=42)

# Combine
transaction_df = pd.concat([df_pos, df_neg_downsampled], ignore_index=True)

In [59]:
print(transaction_df.shape)
transaction_df.isFraud.value_counts()
#print(transaction_df.head())
#print(identity_df.shape)
#print(identity_df.head())
#transaction_df[transaction_df.TransactionID==2987004]
#identity_df[identity_df.TransactionID==2987004]

(45463, 394)

isFraud
0    41330
1     4133
Name: count, dtype: int64

In [60]:
print(transaction_df.shape)
print(test_transaction.shape)

(45463, 394)
(506691, 393)

We provide a general processing framework to convert a relational table to heterogeneous graph edgelists based on the column types of the relational table. Some of the data transformation and feature engineering techniques include:

- Performing numerical encoding for categorical variables and logarithmic transformation for transaction amount
- Constructing graph edgelists between transactions and other entities for the various relation types

The inputs to the data preprocessing script are passed in as python command line arguments. All the columns in the relational table are classifed into one of 3 types for the purposes of data transformation:

- Identity columns --id-cols: columns that contain identity information related to a user or transaction for example IP address, Phone Number, device identifiers etc. These column types become node types in the heterogeneous graph, and the entries in these columns become the nodes. The column names for these column types need to passed in to the script.

- Categorical columns --cat-cols: columns that correspond to categorical features for a user's age group or whether a provided address matches with an address on file. The entries in these columns undergo numerical feature transformation and are used as node attributes in the heterogeneous graph. The columns names for these column types also needs to be passed in to the script

- Numerical columns: columns that correspond to numerical features like how many times a user has tried a transaction and so on. The entries here are also used as node attributes in the heterogeneous graph. The script assumes that all columns in the tables that are not identity columns or categorical columns are numerical columns

In [62]:
id_cols = ['card1','card2','card3','card4','card5','card6','ProductCD','addr1','addr2','P_emaildomain','R_emaildomain']
cat_cols = ['M1','M2','M3','M4','M5','M6','M7','M8','M9']
train_data_ratio = 0.8

Based on the train/test ratio we assigned before, extact the IDs of test data.

In [67]:
#n_train = int(transaction_df.shape[0]*train_data_ratio)
#print(n_train)
#test_ids = transaction_df.TransactionID.values[n_train:] #this is a validation set, not a test set.
#print(len(test_ids))
from sklearn.model_selection import train_test_split
X, y = transaction_df.drop(columns='isFraud'), transaction_df.isFraud
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=42)

In [74]:
X_test.head()

,TransactionID,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,card6,...,V330,V331,V332,V333,V334,V335,V336,V337,V338,V339
30375,3556116,15099709,88.500,W,1618,360.0,150.0,mastercard,126.0,debit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1631,3303307,7868858,67.067,C,8755,500.0,185.0,mastercard,224.0,credit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23336,3485430,13053945,267.000,W,7676,512.0,150.0,visa,226.0,debit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28158,3064645,1702423,300.000,R,17480,181.0,150.0,visa,226.0,credit,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16144,3403561,10523058,25.000,S,12037,595.0,150.0,mastercard,224.0,debit,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [65]:
#get_fraud_frac = lambda series: 100 * sum(series)/len(series)
#print("Percent fraud for train transactions: {}".format(get_fraud_frac(transaction_df.isFraud[:n_train])))
#print("Percent fraud for test transactions: {}".format(get_fraud_frac(transaction_df.isFraud[n_train:])))
#print("Percent fraud for all transactions: {}".format(get_fraud_frac(transaction_df.isFraud)))

Percent fraud for train transactions: 11.36376134176519
Percent fraud for test transactions: 0.0
Percent fraud for all transactions: 9.090909090909092

 Save test IDs into the `test.csv` file

In [75]:
with open('data/test.csv', 'w') as f:
    f.writelines(map(lambda x: str(x) + "\n", X_test.TransactionID))

Based on the standard we talked about before, define non-feature-columns and feature-columns for creating graph.

In [76]:
non_feature_cols = ['isFraud', 'TransactionDT'] + id_cols
print(non_feature_cols)

['isFraud', 'TransactionDT', 'card1', 'card2', 'card3', 'card4', 'card5', 'card6', 'ProductCD', 'addr1', 'addr2', 'P_emaildomain', 'R_emaildomain']

In [77]:
feature_cols = [col for col in X_train.columns if col not in non_feature_cols]
print(feature_cols)

['TransactionID', 'TransactionAmt', 'dist1', 'dist2', 'C1', 'C2', 'C3', 'C4', 'C5', 'C6', 'C7', 'C8', 'C9', 'C10', 'C11', 'C12', 'C13', 'C14', 'D1', 'D2', 'D3', 'D4', 'D5', 'D6', 'D7', 'D8', 'D9', 'D10', 'D11', 'D12', 'D13', 'D14', 'D15', 'M1', 'M2', 'M3', 'M4', 'M5', 'M6', 'M7', 'M8', 'M9', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10', 'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20', 'V21', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'V29', 'V30', 'V31', 'V32', 'V33', 'V34', 'V35', 'V36', 'V37', 'V38', 'V39', 'V40', 'V41', 'V42', 'V43', 'V44', 'V45', 'V46', 'V47', 'V48', 'V49', 'V50', 'V51', 'V52', 'V53', 'V54', 'V55', 'V56', 'V57', 'V58', 'V59', 'V60', 'V61', 'V62', 'V63', 'V64', 'V65', 'V66', 'V67', 'V68', 'V69', 'V70', 'V71', 'V72', 'V73', 'V74', 'V75', 'V76', 'V77', 'V78', 'V79', 'V80', 'V81', 'V82', 'V83', 'V84', 'V85', 'V86', 'V87', 'V88', 'V89', 'V90', 'V91', 'V92', 'V93', 'V94', 'V95', 'V96', 'V97', 'V98', 'V99', 'V100', 'V101', 'V102', 'V103', 'V104', 'V105', 'V106', 'V107', 'V108', 'V109', 'V110', 'V111', 'V112', 'V113', 'V114', 'V115', 'V116', 'V117', 'V118', 'V119', 'V120', 'V121', 'V122', 'V123', 'V124', 'V125', 'V126', 'V127', 'V128', 'V129', 'V130', 'V131', 'V132', 'V133', 'V134', 'V135', 'V136', 'V137', 'V138', 'V139', 'V140', 'V141', 'V142', 'V143', 'V144', 'V145', 'V146', 'V147', 'V148', 'V149', 'V150', 'V151', 'V152', 'V153', 'V154', 'V155', 'V156', 'V157', 'V158', 'V159', 'V160', 'V161', 'V162', 'V163', 'V164', 'V165', 'V166', 'V167', 'V168', 'V169', 'V170', 'V171', 'V172', 'V173', 'V174', 'V175', 'V176', 'V177', 'V178', 'V179', 'V180', 'V181', 'V182', 'V183', 'V184', 'V185', 'V186', 'V187', 'V188', 'V189', 'V190', 'V191', 'V192', 'V193', 'V194', 'V195', 'V196', 'V197', 'V198', 'V199', 'V200', 'V201', 'V202', 'V203', 'V204', 'V205', 'V206', 'V207', 'V208', 'V209', 'V210', 'V211', 'V212', 'V213', 'V214', 'V215', 'V216', 'V217', 'V218', 'V219', 'V220', 'V221', 'V222', 'V223', 'V224', 'V225', 'V226', 'V227', 'V228', 'V229', 'V230', 'V231', 'V232', 'V233', 'V234', 'V235', 'V236', 'V237', 'V238', 'V239', 'V240', 'V241', 'V242', 'V243', 'V244', 'V245', 'V246', 'V247', 'V248', 'V249', 'V250', 'V251', 'V252', 'V253', 'V254', 'V255', 'V256', 'V257', 'V258', 'V259', 'V260', 'V261', 'V262', 'V263', 'V264', 'V265', 'V266', 'V267', 'V268', 'V269', 'V270', 'V271', 'V272', 'V273', 'V274', 'V275', 'V276', 'V277', 'V278', 'V279', 'V280', 'V281', 'V282', 'V283', 'V284', 'V285', 'V286', 'V287', 'V288', 'V289', 'V290', 'V291', 'V292', 'V293', 'V294', 'V295', 'V296', 'V297', 'V298', 'V299', 'V300', 'V301', 'V302', 'V303', 'V304', 'V305', 'V306', 'V307', 'V308', 'V309', 'V310', 'V311', 'V312', 'V313', 'V314', 'V315', 'V316', 'V317', 'V318', 'V319', 'V320', 'V321', 'V322', 'V323', 'V324', 'V325', 'V326', 'V327', 'V328', 'V329', 'V330', 'V331', 'V332', 'V333', 'V334', 'V335', 'V336', 'V337', 'V338', 'V339']

Transfer categorical features to be dummy variables and scale the `TransactionAmt` feature by log10.

In [78]:
features = pd.get_dummies(X_train[feature_cols], columns=cat_cols).fillna(0)
features['TransactionAmt'] = features['TransactionAmt'].apply(np.log10)

In [79]:
features.shape

(36370, 391)

In [80]:
print(list(features.columns))

['TransactionID', 'TransactionAmt', 'dist1', 'dist2', 'C1', 'C2', 'C3', 'C4', 'C5', 'C6', 'C7', 'C8', 'C9', 'C10', 'C11', 'C12', 'C13', 'C14', 'D1', 'D2', 'D3', 'D4', 'D5', 'D6', 'D7', 'D8', 'D9', 'D10', 'D11', 'D12', 'D13', 'D14', 'D15', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10', 'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20', 'V21', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'V29', 'V30', 'V31', 'V32', 'V33', 'V34', 'V35', 'V36', 'V37', 'V38', 'V39', 'V40', 'V41', 'V42', 'V43', 'V44', 'V45', 'V46', 'V47', 'V48', 'V49', 'V50', 'V51', 'V52', 'V53', 'V54', 'V55', 'V56', 'V57', 'V58', 'V59', 'V60', 'V61', 'V62', 'V63', 'V64', 'V65', 'V66', 'V67', 'V68', 'V69', 'V70', 'V71', 'V72', 'V73', 'V74', 'V75', 'V76', 'V77', 'V78', 'V79', 'V80', 'V81', 'V82', 'V83', 'V84', 'V85', 'V86', 'V87', 'V88', 'V89', 'V90', 'V91', 'V92', 'V93', 'V94', 'V95', 'V96', 'V97', 'V98', 'V99', 'V100', 'V101', 'V102', 'V103', 'V104', 'V105', 'V106', 'V107', 'V108', 'V109', 'V110', 'V111', 'V112', 'V113', 'V114', 'V115', 'V116', 'V117', 'V118', 'V119', 'V120', 'V121', 'V122', 'V123', 'V124', 'V125', 'V126', 'V127', 'V128', 'V129', 'V130', 'V131', 'V132', 'V133', 'V134', 'V135', 'V136', 'V137', 'V138', 'V139', 'V140', 'V141', 'V142', 'V143', 'V144', 'V145', 'V146', 'V147', 'V148', 'V149', 'V150', 'V151', 'V152', 'V153', 'V154', 'V155', 'V156', 'V157', 'V158', 'V159', 'V160', 'V161', 'V162', 'V163', 'V164', 'V165', 'V166', 'V167', 'V168', 'V169', 'V170', 'V171', 'V172', 'V173', 'V174', 'V175', 'V176', 'V177', 'V178', 'V179', 'V180', 'V181', 'V182', 'V183', 'V184', 'V185', 'V186', 'V187', 'V188', 'V189', 'V190', 'V191', 'V192', 'V193', 'V194', 'V195', 'V196', 'V197', 'V198', 'V199', 'V200', 'V201', 'V202', 'V203', 'V204', 'V205', 'V206', 'V207', 'V208', 'V209', 'V210', 'V211', 'V212', 'V213', 'V214', 'V215', 'V216', 'V217', 'V218', 'V219', 'V220', 'V221', 'V222', 'V223', 'V224', 'V225', 'V226', 'V227', 'V228', 'V229', 'V230', 'V231', 'V232', 'V233', 'V234', 'V235', 'V236', 'V237', 'V238', 'V239', 'V240', 'V241', 'V242', 'V243', 'V244', 'V245', 'V246', 'V247', 'V248', 'V249', 'V250', 'V251', 'V252', 'V253', 'V254', 'V255', 'V256', 'V257', 'V258', 'V259', 'V260', 'V261', 'V262', 'V263', 'V264', 'V265', 'V266', 'V267', 'V268', 'V269', 'V270', 'V271', 'V272', 'V273', 'V274', 'V275', 'V276', 'V277', 'V278', 'V279', 'V280', 'V281', 'V282', 'V283', 'V284', 'V285', 'V286', 'V287', 'V288', 'V289', 'V290', 'V291', 'V292', 'V293', 'V294', 'V295', 'V296', 'V297', 'V298', 'V299', 'V300', 'V301', 'V302', 'V303', 'V304', 'V305', 'V306', 'V307', 'V308', 'V309', 'V310', 'V311', 'V312', 'V313', 'V314', 'V315', 'V316', 'V317', 'V318', 'V319', 'V320', 'V321', 'V322', 'V323', 'V324', 'V325', 'V326', 'V327', 'V328', 'V329', 'V330', 'V331', 'V332', 'V333', 'V334', 'V335', 'V336', 'V337', 'V338', 'V339', 'M1_F', 'M1_T', 'M2_F', 'M2_T', 'M3_F', 'M3_T', 'M4_M0', 'M4_M1', 'M4_M2', 'M5_F', 'M5_T', 'M6_F', 'M6_T', 'M7_F', 'M7_T', 'M8_F', 'M8_T', 'M9_F', 'M9_T']

Save the features into `features.csv` for future training.

p.s. We don't need the index column and header.

In [81]:
features.to_csv('data/features.csv', index=False, header=False)
#features.to_parquet('data/features.parquet')

In [93]:
y_train.name

'isFraud'

Save the IDs and label into the `tags.csv`.

In [96]:
new_df = pd.concat([X_train['TransactionID'], y_train], axis=1)
new_df.to_csv('data/tags.csv', index=False)
#transaction_df[['TransactionID', 'isFraud']].to_csv('data/tags.csv', index=False)
#transaction_df[['TransactionID', 'isFraud']].to_parquet('data/tags.parquet')

Select the columns that define the edges.

In [97]:
edge_types = id_cols + list(identity_df.columns)
print(edge_types)

['card1', 'card2', 'card3', 'card4', 'card5', 'card6', 'ProductCD', 'addr1', 'addr2', 'P_emaildomain', 'R_emaildomain', 'TransactionID', 'id_01', 'id_02', 'id_03', 'id_04', 'id_05', 'id_06', 'id_07', 'id_08', 'id_09', 'id_10', 'id_11', 'id_12', 'id_13', 'id_14', 'id_15', 'id_16', 'id_17', 'id_18', 'id_19', 'id_20', 'id_21', 'id_22', 'id_23', 'id_24', 'id_25', 'id_26', 'id_27', 'id_28', 'id_29', 'id_30', 'id_31', 'id_32', 'id_33', 'id_34', 'id_35', 'id_36', 'id_37', 'id_38', 'DeviceType', 'DeviceInfo']

In [98]:
all_id_cols = ['TransactionID'] + id_cols
full_identity_df = transaction_df[all_id_cols].merge(identity_df, on='TransactionID', how='left')
full_identity_df.head(5)

,TransactionID,card1,card2,card3,card4,card5,card6,ProductCD,addr1,addr2,...,id_31,id_32,id_33,id_34,id_35,id_36,id_37,id_38,DeviceType,DeviceInfo
0,3041132,11233,321.0,150.0,visa,195.0,debit,W,325.0,87.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3482177,9026,545.0,185.0,visa,137.0,credit,C,NaN,NaN,...,chrome 65.0,NaN,None,None,F,F,T,F,desktop,Windows
2,3066506,5812,408.0,185.0,mastercard,224.0,debit,C,NaN,NaN,...,opera,NaN,None,None,F,T,T,F,desktop,None
3,3300170,12730,266.0,185.0,mastercard,224.0,credit,C,NaN,NaN,...,chrome 63.0,NaN,None,None,F,F,T,F,desktop,Windows
4,3513937,7664,490.0,150.0,visa,226.0,debit,W,204.0,87.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [99]:
full_identity_df.shape

(45463, 52)

For each identity feature, save the data into the corresponding `relation_{FEATURE NAME}_edgelist.csv`. Each csv file represents one kind of edge.

In [100]:
edges = {}
for etype in edge_types:
    #print(etype)
    if etype == 'TransactionID':
        edgelist = full_identity_df[['TransactionID']].dropna()
    else:
        edgelist = full_identity_df[['TransactionID', etype]].dropna()
        edgelist.columns = ['TransactionID', etype] # Rename the second column

    edgelist.to_csv('data/relation_{}_edgelist.csv'.format(etype))
    edges[etype] = edgelist

print(edges)

{'card1':        TransactionID  card1
0            3041132  11233
1            3482177   9026
2            3066506   5812
3            3300170  12730
4            3513937   7664
...              ...    ...
45458        3273128   8755
45459        3249704  16560
45460        3342263   9992
45461        3538255  10741
45462        3019891   2307

[45463 rows x 2 columns], 'card2':        TransactionID  card2
0            3041132  321.0
1            3482177  545.0
2            3066506  408.0
3            3300170  266.0
4            3513937  490.0
...              ...    ...
45458        3273128  500.0
45459        3249704  476.0
45460        3342263  455.0
45461        3538255  555.0
45462        3019891  532.0

[44778 rows x 2 columns], 'card3':        TransactionID  card3
0            3041132  150.0
1            3482177  185.0
2            3066506  185.0
3            3300170  185.0
4            3513937  150.0
...              ...    ...
45458        3273128  185.0
45459        3249704  150.0
45460        3342263  150.0
45461        3538255  150.0
45462        3019891  150.0

[45363 rows x 2 columns], 'card4':        TransactionID       card4
0            3041132        visa
1            3482177        visa
2            3066506  mastercard
3            3300170  mastercard
4            3513937        visa
...              ...         ...
45458        3273128  mastercard
45459        3249704        visa
45460        3342263  mastercard
45461        3538255        visa
45462        3019891  mastercard

[45363 rows x 2 columns], 'card5':        TransactionID  card5
0            3041132  195.0
1            3482177  137.0
2            3066506  224.0
3            3300170  224.0
4            3513937  226.0
...              ...    ...
45458        3273128  224.0
45459        3249704  166.0
45460        3342263  126.0
45461        3538255  226.0
45462        3019891  224.0

[45144 rows x 2 columns], 'card6':        TransactionID   card6
0            3041132   debit
1            3482177  credit
2            3066506   debit
3            3300170  credit
4            3513937   debit
...              ...     ...
45458        3273128  credit
45459        3249704   debit
45460        3342263   debit
45461        3538255   debit
45462        3019891   debit

[45363 rows x 2 columns], 'ProductCD':        TransactionID ProductCD
0            3041132         W
1            3482177         C
2            3066506         C
3            3300170         C
4            3513937         W
...              ...       ...
45458        3273128         C
45459        3249704         W
45460        3342263         W
45461        3538255         W
45462        3019891         H

[45463 rows x 2 columns], 'addr1':        TransactionID  addr1
0            3041132  325.0
4            3513937  204.0
7            3522512  204.0
9            3534824  330.0
13           3344148  231.0
...              ...    ...
45457        3098143  299.0
45459        3249704  204.0
45460        3342263  343.0
45461        3538255  264.0
45462        3019891  315.0

[39728 rows x 2 columns], 'addr2':        TransactionID  addr2
0            3041132   87.0
4            3513937   87.0
7            3522512   87.0
9            3534824   87.0
13           3344148   87.0
...              ...    ...
45457        3098143   87.0
45459        3249704   87.0
45460        3342263   87.0
45461        3538255   87.0
45462        3019891   87.0

[39728 rows x 2 columns], 'P_emaildomain':        TransactionID  P_emaildomain
0            3041132      gmail.com
1            3482177  anonymous.com
2            3066506    hotmail.com
3            3300170      gmail.com
4            3513937      gmail.com
...              ...            ...
45457        3098143      gmail.com
45458        3273128      gmail.com
45459        3249704      gmail.com
45460        3342263      gmail.com
45462        3019891    comcast.net

[38294 rows x 2 columns], 'R_emaildomain':        TransactionID  R_emaildomain
1            3482177  anonymous.com
2            3066506    hotmail.com
3            3300170      gmail.com
5            3139055      gmail.com
6            3474965    hotmail.com
...              ...            ...
45444        3048409        aol.com
45445        3226556    hotmail.com
45452        3091420    hotmail.com
45453        3170065    hotmail.com
45458        3273128      gmail.com

[11411 rows x 2 columns], 'TransactionID':        TransactionID
0            3041132
1            3482177
2            3066506
3            3300170
4            3513937
...              ...
45458        3273128
45459        3249704
45460        3342263
45461        3538255
45462        3019891

[45463 rows x 1 columns], 'id_01':        TransactionID  id_01
1            3482177  -10.0
2            3066506   -5.0
3            3300170   -5.0
5            3139055   -5.0
6            3474965   -5.0
...              ...    ...
45447        3340376  -25.0
45452        3091420   -5.0
45453        3170065   -5.0
45458        3273128  -20.0
45462        3019891   -5.0

[11905 rows x 2 columns], 'id_02':        TransactionID     id_02
1            3482177  178589.0
2            3066506   86993.0
3            3300170   52801.0
5            3139055  162024.0
6            3474965  204174.0
...              ...       ...
45447        3340376  507525.0
45452        3091420  108306.0
45453        3170065  114093.0
45458        3273128  259920.0
45462        3019891  177307.0

[11637 rows x 2 columns], 'id_03':        TransactionID  id_03
2            3066506    0.0
3            3300170    0.0
5            3139055    0.0
8            3270118    0.0
10           3537194    0.0
...              ...    ...
45415        3410603    0.0
45437        3353421    0.0
45443        3107223    0.0
45445        3226556    0.0
45452        3091420    0.0

[5696 rows x 2 columns], 'id_04':        TransactionID  id_04
2            3066506    0.0
3            3300170    0.0
5            3139055    0.0
8            3270118    0.0
10           3537194    0.0
...              ...    ...
45415        3410603    0.0
45437        3353421    0.0
45443        3107223    0.0
45445        3226556    0.0
45452        3091420    0.0

[5696 rows x 2 columns], 'id_05':        TransactionID  id_05
1            3482177   16.0
2            3066506    0.0
3            3300170    3.0
5            3139055    3.0
6            3474965    0.0
...              ...    ...
45447        3340376   22.0
45452        3091420    2.0
45453        3170065    0.0
45458        3273128    0.0
45462        3019891    1.0

[11305 rows x 2 columns], 'id_06':        TransactionID  id_06
1            3482177 -100.0
2            3066506    0.0
3            3300170   -1.0
5            3139055  -12.0
6            3474965   -8.0
...              ...    ...
45447        3340376  -17.0
45452        3091420  -12.0
45453        3170065    0.0
45458        3273128    0.0
45462        3019891    0.0

[11305 rows x 2 columns], 'id_07':        TransactionID  id_07
11           3005416    1.0
107          3536120    4.0
153          3160439   19.0
181          3197730   16.0
213          3333544   13.0
...              ...    ...
44273        3335922    0.0
44334        3568044   11.0
44718        3089481   30.0
45055        3420084   22.0
45412        3444033   15.0

[400 rows x 2 columns], 'id_08':        TransactionID  id_08
11           3005416  -80.0
107          3536120 -100.0
153          3160439  -25.0
181          3197730  -35.0
213          3333544  -19.0
...              ...    ...
44273        3335922  -32.0
44334        3568044 -100.0
44718        3089481  -27.0
45055        3420084  -11.0
45412        3444033  -10.0

[400 rows x 2 columns], 'id_09':        TransactionID  id_09
1            3482177    0.0
2            3066506    0.0
3            3300170    0.0
5            3139055    0.0
6            3474965    0.0
...              ...    ...
45415        3410603    0.0
45437        3353421    0.0
45443        3107223    0.0
45445        3226556    0.0
45452        3091420    0.0

[6445 rows x 2 columns], 'id_10':        TransactionID  id_10
1            3482177    0.0
2            3066506    0.0
3            3300170    0.0
5            3139055    0.0
6            3474965    0.0
...              ...    ...
45415        3410603    0.0
45437        3353421    0.0
45443        3107223    0.0
45445        3226556    0.0
45452        3091420    0.0

[6445 rows x 2 columns], 'id_11':        TransactionID       id_11
1            3482177   96.669998
2            3066506  100.000000
3            3300170  100.000000
5            3139055  100.000000
6            3474965   96.669998
...              ...         ...
45447        3340376  100.000000
45452        3091420  100.000000
45453        3170065  100.000000
45458        3273128  100.000000
45462        3019891  100.000000

[11646 rows x 2 columns], 'id_12':        TransactionID     id_12
1            3482177  NotFound
2            3066506  NotFound
3            3300170  NotFound
5            3139055  NotFound
6            3474965  NotFound
...              ...       ...
45447        3340376  NotFound
45452        3091420  NotFound
45453        3170065  NotFound
45458        3273128  NotFound
45462        3019891  NotFound

[11905 rows x 2 columns], 'id_13':        TransactionID  id_13
1            3482177   52.0
2            3066506   52.0
3            3300170   52.0
5            3139055   25.0
6            3474965   52.0
...              ...    ...
45447        3340376   33.0
45452        3091420   49.0
45453        3170065   49.0
45458        3273128   33.0
45462        3019891   49.0

[10579 rows x 2 columns], 'id_14':        TransactionID  id_14
2            3066506 -360.0
16           3087971 -360.0
24           3123796 -360.0
27           3206060 -360.0
36           3338422 -300.0
...              ...    ...
45409        2987608 -300.0
45412        3444033 -300.0
45430        3447653 -300.0
45444        3048409 -300.0
45462        3019891 -360.0

[6264 rows x 2 columns], 'id_15':        TransactionID    id_15
1            3482177      New
2            3066506    Found
3            3300170    Found
5            3139055    Found
6            3474965      New
...              ...      ...
45447        3340376  Unknown
45452        3091420    Found
45453        3170065      New
45458        3273128  Unknown
45462        3019891      New

[11647 rows x 2 columns], 'id_16':        TransactionID     id_16
1            3482177  NotFound
2            3066506     Found
3            3300170     Found
5            3139055     Found
6            3474965  NotFound
...              ...       ...
45444        3048409  NotFound
45445        3226556     Found
45452        3091420     Found
45453        3170065  NotFound
45462        3019891  NotFound

[10665 rows x 2 columns], 'id_17':        TransactionID  id_17
1            3482177  166.0
2            3066506  225.0
3            3300170  225.0
5            3139055  225.0
6            3474965  225.0
...              ...    ...
45447        3340376  166.0
45452        3091420  225.0
45453        3170065  225.0
45458        3273128  225.0
45462        3019891  166.0

[11497 rows x 2 columns], 'id_18':        TransactionID  id_18
1            3482177   15.0
10           3537194   15.0
12           3312180   15.0
24           3123796   15.0
25           3570637   15.0
...              ...    ...
45375        3544996   15.0
45381        3056594   13.0
45384        3557881   15.0
45447        3340376   15.0
45452        3091420   15.0

[3719 rows x 2 columns], 'id_19':        TransactionID  id_19
1            3482177  121.0
2            3066506  427.0
3            3300170  271.0
5            3139055  345.0
6            3474965  266.0
...              ...    ...
45447        3340376  509.0
45452        3091420  345.0
45453        3170065  254.0
45458        3273128  427.0
45462        3019891  215.0

[11495 rows x 2 columns], 'id_20':        TransactionID  id_20
1            3482177  214.0
2            3066506  507.0
3            3300170  507.0
5            3139055  507.0
6            3474965  127.0
...              ...    ...
45447        3340376  600.0
45452        3091420  507.0
45453        3170065  507.0
45458        3273128  507.0
45462        3019891  333.0

[11492 rows x 2 columns], 'id_21':        TransactionID  id_21
11           3005416  770.0
107          3536120  762.0
153          3160439  699.0
181          3197730  252.0
213          3333544  409.0
...              ...    ...
44273        3335922  252.0
44334        3568044  252.0
44718        3089481  252.0
45055        3420084  548.0
45412        3444033  576.0

[401 rows x 2 columns], 'id_22':        TransactionID  id_22
11           3005416   41.0
107          3536120   14.0
153          3160439   14.0
181          3197730   14.0
213          3333544   14.0
...              ...    ...
44273        3335922   14.0
44334        3568044   14.0
44718        3089481   14.0
45055        3420084   14.0
45412        3444033   14.0

[401 rows x 2 columns], 'id_23':        TransactionID                 id_23
11           3005416    IP_PROXY:ANONYMOUS
107          3536120  IP_PROXY:TRANSPARENT
153          3160439    IP_PROXY:ANONYMOUS
181          3197730  IP_PROXY:TRANSPARENT
213          3333544  IP_PROXY:TRANSPARENT
...              ...                   ...
44273        3335922  IP_PROXY:TRANSPARENT
44334        3568044  IP_PROXY:TRANSPARENT
44718        3089481       IP_PROXY:HIDDEN
45055        3420084    IP_PROXY:ANONYMOUS
45412        3444033       IP_PROXY:HIDDEN

[401 rows x 2 columns], 'id_24':        TransactionID  id_24
11           3005416   15.0
107          3536120   11.0
153          3160439   11.0
181          3197730   11.0
213          3333544   11.0
...              ...    ...
44273        3335922   11.0
44334        3568044   11.0
44718        3089481   11.0
45055        3420084   11.0
45412        3444033   15.0

[375 rows x 2 columns], 'id_25':        TransactionID  id_25
11           3005416  349.0
153          3160439  422.0
181          3197730  321.0
213          3333544  442.0
301          3206482  512.0
...              ...    ...
44273        3335922  321.0
44334        3568044  321.0
44718        3089481  321.0
45055        3420084  205.0
45412        3444033  505.0

[397 rows x 2 columns], 'id_26':        TransactionID  id_26
11           3005416  215.0
107          3536120  161.0
153          3160439  184.0
181          3197730  184.0
213          3333544  161.0
...              ...    ...
44273        3335922  184.0
44334        3568044  147.0
44718        3089481  169.0
45055        3420084  155.0
45412        3444033  102.0

[401 rows x 2 columns], 'id_27':        TransactionID  id_27
11           3005416  Found
107          3536120  Found
153          3160439  Found
181          3197730  Found
213          3333544  Found
...              ...    ...
44273        3335922  Found
44334        3568044  Found
44718        3089481  Found
45055        3420084  Found
45412        3444033  Found

[401 rows x 2 columns], 'id_28':        TransactionID  id_28
1            3482177  Found
2            3066506  Found
3            3300170  Found
5            3139055  Found
6            3474965  Found
...              ...    ...
45447        3340376    New
45452        3091420  Found
45453        3170065    New
45458        3273128    New
45462        3019891    New

[11646 rows x 2 columns], 'id_29':        TransactionID     id_29
1            3482177     Found
2            3066506     Found
3            3300170     Found
5            3139055     Found
6            3474965     Found
...              ...       ...
45447        3340376  NotFound
45452        3091420     Found
45453        3170065  NotFound
45458        3273128  NotFound
45462        3019891  NotFound

[11646 rows x 2 columns], 'id_30':        TransactionID             id_30
16           3087971             Linux
24           3123796     Android 7.1.1
27           3206060        iOS 11.2.1
36           3338422        iOS 11.1.0
38           3183965        Windows 10
...              ...               ...
45409        2987608     Android 5.1.1
45412        3444033           Android
45430        3447653        iOS 11.3.0
45444        3048409  Mac OS X 10_13_1
45462        3019891        iOS 10.3.2

[6083 rows x 2 columns], 'id_31':        TransactionID                    id_31
1            3482177              chrome 65.0
2            3066506                    opera
3            3300170              chrome 63.0
5            3139055       mobile safari 11.0
6            3474965              chrome 65.0
...              ...                      ...
45447        3340376    mobile safari generic
45452        3091420  chrome 50.0 for android
45453        3170065  chrome 63.0 for android
45458        3273128    mobile safari generic
45462        3019891       mobile safari 10.0

[11586 rows x 2 columns], 'id_32':        TransactionID  id_32
16           3087971   24.0
24           3123796   32.0
27           3206060   32.0
36           3338422   32.0
38           3183965   16.0
...              ...    ...
45409        2987608   32.0
45412        3444033   24.0
45430        3447653   32.0
45444        3048409   24.0
45462        3019891   32.0

[6086 rows x 2 columns], 'id_33':        TransactionID      id_33
16           3087971   1366x768
24           3123796   1280x720
27           3206060  2208x1242
36           3338422  2208x1242
38           3183965  1600x1200
...              ...        ...
45409        2987608    960x540
45412        3444033   1280x720
45430        3447653   1334x750
45444        3048409   1280x800
45462        3019891  2048x1536

[5748 rows x 2 columns], 'id_34':        TransactionID           id_34
16           3087971  match_status:2
24           3123796  match_status:2
27           3206060  match_status:1
36           3338422  match_status:1
38           3183965  match_status:2
...              ...             ...
45409        2987608  match_status:2
45412        3444033  match_status:2
45430        3447653  match_status:2
45444        3048409  match_status:0
45462        3019891  match_status:1

[6100 rows x 2 columns], 'id_35':        TransactionID id_35
1            3482177     F
2            3066506     F
3            3300170     F
5            3139055     F
6            3474965     F
...              ...   ...
45447        3340376     F
45452        3091420     F
45453        3170065     F
45458        3273128     F
45462        3019891     T

[11647 rows x 2 columns], 'id_36':        TransactionID id_36
1            3482177     F
2            3066506     T
3            3300170     F
5            3139055     F
6            3474965     F
...              ...   ...
45447        3340376     F
45452        3091420     F
45453        3170065     F
45458        3273128     F
45462        3019891     F

[11647 rows x 2 columns], 'id_37':        TransactionID id_37
1            3482177     T
2            3066506     T
3            3300170     T
5            3139055     T
6            3474965     T
...              ...   ...
45447        3340376     F
45452        3091420     T
45453        3170065     T
45458        3273128     F
45462        3019891     F

[11647 rows x 2 columns], 'id_38':        TransactionID id_38
1            3482177     F
2            3066506     F
3            3300170     F
5            3139055     T
6            3474965     F
...              ...   ...
45447        3340376     F
45452        3091420     F
45453        3170065     F
45458        3273128     F
45462        3019891     T

[11647 rows x 2 columns], 'DeviceType':        TransactionID DeviceType
1            3482177    desktop
2            3066506    desktop
3            3300170    desktop
5            3139055     mobile
6            3474965    desktop
...              ...        ...
45447        3340376     mobile
45452        3091420     mobile

Let's re-check the edges we defined.

In [101]:
import glob

file_list = glob.glob('./data/*edgelist.csv')

edges = ",".join(map(lambda x: x.split("/")[-1], [file for file in file_list if "relation" in file]))

edges_full = ''
for etype in edge_types:
    edges_full += ',data/relation_{}_edgelist.csv'.format(etype)

In [102]:
edges

'relation_card1_edgelist.csv,relation_card2_edgelist.csv,relation_card3_edgelist.csv,relation_card4_edgelist.csv,relation_card5_edgelist.csv,relation_card6_edgelist.csv,relation_ProductCD_edgelist.csv,relation_addr1_edgelist.csv,relation_addr2_edgelist.csv,relation_P_emaildomain_edgelist.csv,relation_R_emaildomain_edgelist.csv,relation_TransactionID_edgelist.csv,relation_id_01_edgelist.csv,relation_id_02_edgelist.csv,relation_id_03_edgelist.csv,relation_id_04_edgelist.csv,relation_id_05_edgelist.csv,relation_id_06_edgelist.csv,relation_id_07_edgelist.csv,relation_id_08_edgelist.csv,relation_id_09_edgelist.csv,relation_id_10_edgelist.csv,relation_id_11_edgelist.csv,relation_id_12_edgelist.csv,relation_id_13_edgelist.csv,relation_id_14_edgelist.csv,relation_id_15_edgelist.csv,relation_id_16_edgelist.csv,relation_id_17_edgelist.csv,relation_id_18_edgelist.csv,relation_id_19_edgelist.csv,relation_id_20_edgelist.csv,relation_id_21_edgelist.csv,relation_id_22_edgelist.csv,relation_id_23_edgelist.csv,relation_id_24_edgelist.csv,relation_id_25_edgelist.csv,relation_id_26_edgelist.csv,relation_id_27_edgelist.csv,relation_id_28_edgelist.csv,relation_id_29_edgelist.csv,relation_id_30_edgelist.csv,relation_id_31_edgelist.csv,relation_id_32_edgelist.csv,relation_id_33_edgelist.csv,relation_id_34_edgelist.csv,relation_id_35_edgelist.csv,relation_id_36_edgelist.csv,relation_id_37_edgelist.csv,relation_id_38_edgelist.csv,relation_DeviceType_edgelist.csv,relation_DeviceInfo_edgelist.csv'

In [ ]:
#import networkx as nx
#nx.draw_networkx(G_train, edge_color=[G_train.edges[i]['isFraud'] for i in G_train.edges()], node_size=2, with_labels=False,alpha=0.3)