<a href="https://colab.research.google.com/github/ekaratnida/Applied-machine-learning/blob/master/sna/fraud/40_test_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Preparation

In this notebook, we will re-construct the dataset.

Graph Neural Networks work by learning representation for nodes or edges of a graph that are well suited for some downstream task. We can model the fraud detection problem as a node classification task, and the goal of the graph neural network would be to learn how to use information from the topology of the sub-graph for each transaction node to transform the node's features to a representation space where the node can be easily classified as fraud or not.

Specifically, we will be using a relational graph convolutional neural network model (R-GCN) on a heterogeneous graph since we have nodes and edges of different types.

## Set up Colab environment

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import os
cur_path = "/content/drive/MyDrive/graph-fraud-detection/"
os.chdir(cur_path)
!pwd

/content/drive/MyDrive/graph-fraud-detection

## Data Overview

Import the numpy and pandas modules.

In [ ]:
import numpy as np
import pandas as pd

## Data Description

### Transaction Table
- TransactionDT: timedelta from a given reference datetime (not an actual timestamp)
- TransactionAMT: transaction payment amount in USD
- ProductCD: product code, the product for each transaction
- card1 - card6: payment card information, such as card type, card category, issue bank, country, etc.
- addr: address
- dist: distance
- P_ and (R__) emaildomain: purchaser and recipient email domain
- C1-C14: counting, such as how many addresses are found to be associated with the payment card, etc. The actual meaning is masked.
- D1-D15: timedelta, such as days between previous transaction, etc.
- M1-M9: match, such as names on card and address, etc.
- Vxxx: Vesta engineered rich features, including ranking, counting, and other entity relations.

Categorical Features:
- ProductCD
- card1 - card6
- addr1, addr2
- P_emaildomain
- R_emaildomain
- M1 - M9

## Identity Table
Variables in this table are identity information – network connection information (IP, ISP, Proxy, etc) and digital signature (UA/browser/os/version, etc) associated with transactions.
They're collected by Vesta’s fraud protection system and digital security partners.
(The field names are masked and pairwise dictionary will not be provided for privacy protection and contract agreement)

Categorical Features:
- DeviceType
- DeviceInfo
- id_12 - id_38

In [ ]:
transaction_df = pd.read_csv('./ieee-data/train_transaction.csv')
identity_df = pd.read_csv('./ieee-data/train_identity.csv')
test_transaction = pd.read_csv('./ieee-data/test_transaction.csv')
test_identity = pd.read_csv('./ieee-data/test_identity.csv')

We provide a general processing framework to convert a relational table to heterogeneous graph edgelists based on the column types of the relational table. Some of the data transformation and feature engineering techniques include:

- Performing numerical encoding for categorical variables and logarithmic transformation for transaction amount
- Constructing graph edgelists between transactions and other entities for the various relation types

The inputs to the data preprocessing script are passed in as python command line arguments. All the columns in the relational table are classifed into one of 3 types for the purposes of data transformation:

- Identity columns --id-cols: columns that contain identity information related to a user or transaction for example IP address, Phone Number, device identifiers etc. These column types become node types in the heterogeneous graph, and the entries in these columns become the nodes. The column names for these column types need to passed in to the script.

- Categorical columns --cat-cols: columns that correspond to categorical features for a user's age group or whether a provided address matches with an address on file. The entries in these columns undergo numerical feature transformation and are used as node attributes in the heterogeneous graph. The columns names for these column types also needs to be passed in to the script

- Numerical columns: columns that correspond to numerical features like how many times a user has tried a transaction and so on. The entries here are also used as node attributes in the heterogeneous graph. The script assumes that all columns in the tables that are not identity columns or categorical columns are numerical columns

In [ ]:
id_cols = ['card1','card2','card3','card4','card5','card6','ProductCD','addr1','addr2','P_emaildomain','R_emaildomain']
cat_cols = ['M1','M2','M3','M4','M5','M6','M7','M8','M9']
train_data_ratio = 0.8

Based on the train/test ratio we assigned before, extact the IDs of test data.

In [ ]:
transaction_df = transaction_df.sample(frac=0.2,random_state=1)

In [ ]:
transaction_df.shape

(59054, 394)

In [ ]:
n_train = int(transaction_df.shape[0]*train_data_ratio)
test_ids = transaction_df.TransactionID.values[n_train:]

In [ ]:
get_fraud_frac = lambda series: 100 * sum(series)/len(series)
print("Percent fraud for train transactions: {}".format(get_fraud_frac(transaction_df.isFraud[:n_train])))
print("Percent fraud for test transactions: {}".format(get_fraud_frac(transaction_df.isFraud[n_train:])))
print("Percent fraud for all transactions: {}".format(get_fraud_frac(transaction_df.isFraud)))

Percent fraud for train transactions: 3.4798806172342993
Percent fraud for test transactions: 3.7592075184150366
Percent fraud for all transactions: 3.535746943475463

 Save test IDs into the `test.csv` file

In [ ]:
'''transaction_df.isFraud.value_counts()
# Separate the classes
df_pos = transaction_df[transaction_df['isFraud'] == 1]
df_neg = transaction_df[transaction_df['isFraud'] == 0]

# Downsample negative class to match positive class size
df_neg_downsampled = df_neg.sample(n=len(df_pos), random_state=42)

# Combine
transaction_df = pd.concat([df_pos, df_neg_downsampled], ignore_index=True)'''

In [ ]:
with open('data/test.csv', 'w') as f:
    f.writelines(map(lambda x: str(x) + "\n", test_ids))

Based on the standard we talked about before, define non-feature-columns and feature-columns for creating graph.

In [ ]:
non_feature_cols = ['isFraud', 'TransactionDT'] + id_cols
print(non_feature_cols)

['isFraud', 'TransactionDT', 'card1', 'card2', 'card3', 'card4', 'card5', 'card6', 'ProductCD', 'addr1', 'addr2', 'P_emaildomain', 'R_emaildomain']

In [ ]:
feature_cols = [col for col in transaction_df.columns if col not in non_feature_cols]
print(feature_cols)

['TransactionID', 'TransactionAmt', 'dist1', 'dist2', 'C1', 'C2', 'C3', 'C4', 'C5', 'C6', 'C7', 'C8', 'C9', 'C10', 'C11', 'C12', 'C13', 'C14', 'D1', 'D2', 'D3', 'D4', 'D5', 'D6', 'D7', 'D8', 'D9', 'D10', 'D11', 'D12', 'D13', 'D14', 'D15', 'M1', 'M2', 'M3', 'M4', 'M5', 'M6', 'M7', 'M8', 'M9', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10', 'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20', 'V21', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'V29', 'V30', 'V31', 'V32', 'V33', 'V34', 'V35', 'V36', 'V37', 'V38', 'V39', 'V40', 'V41', 'V42', 'V43', 'V44', 'V45', 'V46', 'V47', 'V48', 'V49', 'V50', 'V51', 'V52', 'V53', 'V54', 'V55', 'V56', 'V57', 'V58', 'V59', 'V60', 'V61', 'V62', 'V63', 'V64', 'V65', 'V66', 'V67', 'V68', 'V69', 'V70', 'V71', 'V72', 'V73', 'V74', 'V75', 'V76', 'V77', 'V78', 'V79', 'V80', 'V81', 'V82', 'V83', 'V84', 'V85', 'V86', 'V87', 'V88', 'V89', 'V90', 'V91', 'V92', 'V93', 'V94', 'V95', 'V96', 'V97', 'V98', 'V99', 'V100', 'V101', 'V102', 'V103', 'V104', 'V105', 'V106', 'V107', 'V108', 'V109', 'V110', 'V111', 'V112', 'V113', 'V114', 'V115', 'V116', 'V117', 'V118', 'V119', 'V120', 'V121', 'V122', 'V123', 'V124', 'V125', 'V126', 'V127', 'V128', 'V129', 'V130', 'V131', 'V132', 'V133', 'V134', 'V135', 'V136', 'V137', 'V138', 'V139', 'V140', 'V141', 'V142', 'V143', 'V144', 'V145', 'V146', 'V147', 'V148', 'V149', 'V150', 'V151', 'V152', 'V153', 'V154', 'V155', 'V156', 'V157', 'V158', 'V159', 'V160', 'V161', 'V162', 'V163', 'V164', 'V165', 'V166', 'V167', 'V168', 'V169', 'V170', 'V171', 'V172', 'V173', 'V174', 'V175', 'V176', 'V177', 'V178', 'V179', 'V180', 'V181', 'V182', 'V183', 'V184', 'V185', 'V186', 'V187', 'V188', 'V189', 'V190', 'V191', 'V192', 'V193', 'V194', 'V195', 'V196', 'V197', 'V198', 'V199', 'V200', 'V201', 'V202', 'V203', 'V204', 'V205', 'V206', 'V207', 'V208', 'V209', 'V210', 'V211', 'V212', 'V213', 'V214', 'V215', 'V216', 'V217', 'V218', 'V219', 'V220', 'V221', 'V222', 'V223', 'V224', 'V225', 'V226', 'V227', 'V228', 'V229', 'V230', 'V231', 'V232', 'V233', 'V234', 'V235', 'V236', 'V237', 'V238', 'V239', 'V240', 'V241', 'V242', 'V243', 'V244', 'V245', 'V246', 'V247', 'V248', 'V249', 'V250', 'V251', 'V252', 'V253', 'V254', 'V255', 'V256', 'V257', 'V258', 'V259', 'V260', 'V261', 'V262', 'V263', 'V264', 'V265', 'V266', 'V267', 'V268', 'V269', 'V270', 'V271', 'V272', 'V273', 'V274', 'V275', 'V276', 'V277', 'V278', 'V279', 'V280', 'V281', 'V282', 'V283', 'V284', 'V285', 'V286', 'V287', 'V288', 'V289', 'V290', 'V291', 'V292', 'V293', 'V294', 'V295', 'V296', 'V297', 'V298', 'V299', 'V300', 'V301', 'V302', 'V303', 'V304', 'V305', 'V306', 'V307', 'V308', 'V309', 'V310', 'V311', 'V312', 'V313', 'V314', 'V315', 'V316', 'V317', 'V318', 'V319', 'V320', 'V321', 'V322', 'V323', 'V324', 'V325', 'V326', 'V327', 'V328', 'V329', 'V330', 'V331', 'V332', 'V333', 'V334', 'V335', 'V336', 'V337', 'V338', 'V339']

Transfer categorical features to be dummy variables and scale the `TransactionAmt` feature by log10.

In [ ]:
features = pd.get_dummies(transaction_df[feature_cols], columns=cat_cols, dtype=float).fillna(0)
features['TransactionAmt'] = features['TransactionAmt'].apply(np.log10)

In [ ]:
features.shape

(59054, 391)

In [ ]:
print(list(features.columns))

['TransactionID', 'TransactionAmt', 'dist1', 'dist2', 'C1', 'C2', 'C3', 'C4', 'C5', 'C6', 'C7', 'C8', 'C9', 'C10', 'C11', 'C12', 'C13', 'C14', 'D1', 'D2', 'D3', 'D4', 'D5', 'D6', 'D7', 'D8', 'D9', 'D10', 'D11', 'D12', 'D13', 'D14', 'D15', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10', 'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20', 'V21', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'V29', 'V30', 'V31', 'V32', 'V33', 'V34', 'V35', 'V36', 'V37', 'V38', 'V39', 'V40', 'V41', 'V42', 'V43', 'V44', 'V45', 'V46', 'V47', 'V48', 'V49', 'V50', 'V51', 'V52', 'V53', 'V54', 'V55', 'V56', 'V57', 'V58', 'V59', 'V60', 'V61', 'V62', 'V63', 'V64', 'V65', 'V66', 'V67', 'V68', 'V69', 'V70', 'V71', 'V72', 'V73', 'V74', 'V75', 'V76', 'V77', 'V78', 'V79', 'V80', 'V81', 'V82', 'V83', 'V84', 'V85', 'V86', 'V87', 'V88', 'V89', 'V90', 'V91', 'V92', 'V93', 'V94', 'V95', 'V96', 'V97', 'V98', 'V99', 'V100', 'V101', 'V102', 'V103', 'V104', 'V105', 'V106', 'V107', 'V108', 'V109', 'V110', 'V111', 'V112', 'V113', 'V114', 'V115', 'V116', 'V117', 'V118', 'V119', 'V120', 'V121', 'V122', 'V123', 'V124', 'V125', 'V126', 'V127', 'V128', 'V129', 'V130', 'V131', 'V132', 'V133', 'V134', 'V135', 'V136', 'V137', 'V138', 'V139', 'V140', 'V141', 'V142', 'V143', 'V144', 'V145', 'V146', 'V147', 'V148', 'V149', 'V150', 'V151', 'V152', 'V153', 'V154', 'V155', 'V156', 'V157', 'V158', 'V159', 'V160', 'V161', 'V162', 'V163', 'V164', 'V165', 'V166', 'V167', 'V168', 'V169', 'V170', 'V171', 'V172', 'V173', 'V174', 'V175', 'V176', 'V177', 'V178', 'V179', 'V180', 'V181', 'V182', 'V183', 'V184', 'V185', 'V186', 'V187', 'V188', 'V189', 'V190', 'V191', 'V192', 'V193', 'V194', 'V195', 'V196', 'V197', 'V198', 'V199', 'V200', 'V201', 'V202', 'V203', 'V204', 'V205', 'V206', 'V207', 'V208', 'V209', 'V210', 'V211', 'V212', 'V213', 'V214', 'V215', 'V216', 'V217', 'V218', 'V219', 'V220', 'V221', 'V222', 'V223', 'V224', 'V225', 'V226', 'V227', 'V228', 'V229', 'V230', 'V231', 'V232', 'V233', 'V234', 'V235', 'V236', 'V237', 'V238', 'V239', 'V240', 'V241', 'V242', 'V243', 'V244', 'V245', 'V246', 'V247', 'V248', 'V249', 'V250', 'V251', 'V252', 'V253', 'V254', 'V255', 'V256', 'V257', 'V258', 'V259', 'V260', 'V261', 'V262', 'V263', 'V264', 'V265', 'V266', 'V267', 'V268', 'V269', 'V270', 'V271', 'V272', 'V273', 'V274', 'V275', 'V276', 'V277', 'V278', 'V279', 'V280', 'V281', 'V282', 'V283', 'V284', 'V285', 'V286', 'V287', 'V288', 'V289', 'V290', 'V291', 'V292', 'V293', 'V294', 'V295', 'V296', 'V297', 'V298', 'V299', 'V300', 'V301', 'V302', 'V303', 'V304', 'V305', 'V306', 'V307', 'V308', 'V309', 'V310', 'V311', 'V312', 'V313', 'V314', 'V315', 'V316', 'V317', 'V318', 'V319', 'V320', 'V321', 'V322', 'V323', 'V324', 'V325', 'V326', 'V327', 'V328', 'V329', 'V330', 'V331', 'V332', 'V333', 'V334', 'V335', 'V336', 'V337', 'V338', 'V339', 'M1_F', 'M1_T', 'M2_F', 'M2_T', 'M3_F', 'M3_T', 'M4_M0', 'M4_M1', 'M4_M2', 'M5_F', 'M5_T', 'M6_F', 'M6_T', 'M7_F', 'M7_T', 'M8_F', 'M8_T', 'M9_F', 'M9_T']

Save the features into `features.csv` for future training.

p.s. We don't need the index column and header.

In [ ]:
features.to_csv('data/features.csv', index=False, header=False)

Save the IDs and label into the `tags.csv`.

In [ ]:
transaction_df[['TransactionID', 'isFraud']].to_csv('data/tags.csv', index=False)

Select the columns that define the edges.

In [ ]:
edge_types = id_cols + list(identity_df.columns)
print(edge_types)

['card1', 'card2', 'card3', 'card4', 'card5', 'card6', 'ProductCD', 'addr1', 'addr2', 'P_emaildomain', 'R_emaildomain', 'TransactionID', 'id_01', 'id_02', 'id_03', 'id_04', 'id_05', 'id_06', 'id_07', 'id_08', 'id_09', 'id_10', 'id_11', 'id_12', 'id_13', 'id_14', 'id_15', 'id_16', 'id_17', 'id_18', 'id_19', 'id_20', 'id_21', 'id_22', 'id_23', 'id_24', 'id_25', 'id_26', 'id_27', 'id_28', 'id_29', 'id_30', 'id_31', 'id_32', 'id_33', 'id_34', 'id_35', 'id_36', 'id_37', 'id_38', 'DeviceType', 'DeviceInfo']

In [ ]:
all_id_cols = ['TransactionID'] + id_cols
full_identity_df = transaction_df[all_id_cols].merge(identity_df, on='TransactionID', how='left')
full_identity_df.head(5)

,TransactionID,card1,card2,card3,card4,card5,card6,ProductCD,addr1,addr2,...,id_31,id_32,id_33,id_34,id_35,id_36,id_37,id_38,DeviceType,DeviceInfo
0,3054316,7664,490.0,150.0,visa,226.0,debit,R,264.0,87.0,...,chrome 63.0,24.0,2048x1152,match_status:2,T,F,T,F,desktop,Windows
1,3169840,14426,111.0,150.0,mastercard,224.0,debit,W,272.0,87.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3440616,12544,321.0,150.0,visa,226.0,debit,W,184.0,87.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3468992,8695,170.0,150.0,visa,226.0,credit,W,184.0,87.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3369076,3277,111.0,150.0,visa,226.0,debit,W,231.0,87.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
full_identity_df.shape

(59054, 52)

For each identity feature, save the data into the corresponding `relation_{FEATURE NAME}_edgelist.csv`. Each csv file represents one kind of edge.

In [ ]:
edges = {}
for etype in edge_types:
    edgelist = full_identity_df[['TransactionID', etype]].dropna()
    edgelist.to_csv('data/relation_{}_edgelist.csv'.format(etype), index=False, header=True)
    edges[etype] = edgelist

print(edges)

{'card1':        TransactionID  card1
0            3054316   7664
1            3169840  14426
2            3440616  12544
3            3468992   8695
4            3369076   3277
...              ...    ...
59049        3333074  15063
59050        3526566   9400
59051        3412437   7508
59052        3426508  12449
59053        3005714   9300

[59054 rows x 2 columns], 'card2':        TransactionID  card2
0            3054316  490.0
1            3169840  111.0
2            3440616  321.0
3            3468992  170.0
4            3369076  111.0
...              ...    ...
59049        3333074  514.0
59050        3526566  111.0
59051        3412437  321.0
59052        3426508  174.0
59053        3005714  103.0

[58147 rows x 2 columns], 'card3':        TransactionID  card3
0            3054316  150.0
1            3169840  150.0
2            3440616  150.0
3            3468992  150.0
4            3369076  150.0
...              ...    ...
59049        3333074  150.0
59050        3526566  150.0
59051        3412437  150.0
59052        3426508  150.0
59053        3005714  185.0

[58891 rows x 2 columns], 'card4':        TransactionID       card4
0            3054316        visa
1            3169840  mastercard
2            3440616        visa
3            3468992        visa
4            3369076        visa
...              ...         ...
59049        3333074        visa
59050        3526566  mastercard
59051        3412437        visa
59052        3426508  mastercard
59053        3005714        visa

[58890 rows x 2 columns], 'card5':        TransactionID  card5
0            3054316  226.0
1            3169840  224.0
2            3440616  226.0
3            3468992  226.0
4            3369076  226.0
...              ...    ...
59049        3333074  226.0
59050        3526566  224.0
59051        3412437  226.0
59052        3426508  117.0
59053        3005714  138.0

[58651 rows x 2 columns], 'card6':        TransactionID   card6
0            3054316   debit
1            3169840   debit
2            3440616   debit
3            3468992  credit
4            3369076   debit
...              ...     ...
59049        3333074  credit
59050        3526566   debit
59051        3412437   debit
59052        3426508   debit
59053        3005714   debit

[58891 rows x 2 columns], 'ProductCD':        TransactionID ProductCD
0            3054316         R
1            3169840         W
2            3440616         W
3            3468992         W
4            3369076         W
...              ...       ...
59049        3333074         W
59050        3526566         W
59051        3412437         W
59052        3426508         W
59053        3005714         C

[59054 rows x 2 columns], 'addr1':        TransactionID  addr1
0            3054316  264.0
1            3169840  272.0
2            3440616  184.0
3            3468992  184.0
4            3369076  231.0
...              ...    ...
59048        3036317  472.0
59049        3333074  384.0
59050        3526566  315.0
59051        3412437  158.0
59052        3426508  143.0

[52451 rows x 2 columns], 'addr2':        TransactionID  addr2
0            3054316   87.0
1            3169840   87.0
2            3440616   87.0
3            3468992   87.0
4            3369076   87.0
...              ...    ...
59048        3036317   87.0
59049        3333074   87.0
59050        3526566   87.0
59051        3412437   87.0
59052        3426508   87.0

[52451 rows x 2 columns], 'P_emaildomain':        TransactionID   P_emaildomain
0            3054316       yahoo.com
1            3169840       gmail.com
3            3468992   anonymous.com
5            3513212       gmail.com
6            3039454   anonymous.com
...              ...             ...
59045        3259392       gmail.com
59046        3421777       gmail.com
59049        3333074     comcast.net
59050        3526566       yahoo.com
59053        3005714  prodigy.net.mx

[49580 rows x 2 columns], 'R_emaildomain':        TransactionID   R_emaildomain
0            3054316       yahoo.com
9            3081028       gmail.com
11           3136642     hotmail.com
12           3345613     hotmail.com
14           2990938       yahoo.com
...              ...             ...
59033        2990046   anonymous.com
59038        3046383         aol.com
59045        3259392       gmail.com
59046        3421777       gmail.com
59053        3005714  prodigy.net.mx

[13591 rows x 2 columns], 'TransactionID':        TransactionID  TransactionID
0            3054316        3054316
1            3169840        3169840
2            3440616        3440616
3            3468992        3468992
4            3369076        3369076
...              ...            ...
59049        3333074        3333074
59050        3526566        3526566
59051        3412437        3412437
59052        3426508        3426508
59053        3005714        3005714

[59054 rows x 2 columns], 'id_01':        TransactionID  id_01
0            3054316   -5.0
6            3039454    0.0
9            3081028    0.0
11           3136642   -5.0
12           3345613   -5.0
...              ...    ...
59038        3046383   -5.0
59041        3270802    0.0
59045        3259392   -5.0
59046        3421777  -10.0
59053        3005714   -5.0

[14302 rows x 2 columns], 'id_02':        TransactionID     id_02
0            3054316   32780.0
6            3039454   67021.0
9            3081028   55724.0
11           3136642  318108.0
12           3345613  597970.0
...              ...       ...
59038        3046383   42257.0
59041        3270802  113473.0
59045        3259392   91194.0
59046        3421777  148185.0
59053        3005714  169493.0

[13968 rows x 2 columns], 'id_03':        TransactionID  id_03
19           3555798    0.0
23           3002719    0.0
25           3436575    0.0
45           3167602    0.0
85           3483344    1.0
...              ...    ...
59031        3044043    0.0
59038        3046383    0.0
59041        3270802    0.0
59046        3421777    0.0
59053        3005714    0.0

[6528 rows x 2 columns], 'id_04':        TransactionID  id_04
19           3555798    0.0
23           3002719    0.0
25           3436575    0.0
45           3167602    0.0
85           3483344    0.0
...              ...    ...
59031        3044043    0.0
59038        3046383    0.0
59041        3270802    0.0
59046        3421777    0.0
59053        3005714    0.0

[6528 rows x 2 columns], 'id_05':        TransactionID  id_05
0            3054316    0.0
6            3039454    0.0
9            3081028    0.0
11           3136642    0.0
12           3345613    2.0
...              ...    ...
59033        2990046    0.0
59038        3046383    2.0
59041        3270802    0.0
59046        3421777    0.0
59053        3005714    0.0

[13560 rows x 2 columns], 'id_06':        TransactionID  id_06
0            3054316    0.0
6            3039454    0.0
9            3081028    0.0
11           3136642    0.0
12           3345613  -25.0
...              ...    ...
59033        2990046    0.0
59038        3046383    0.0
59041        3270802   -8.0
59046        3421777   -9.0
59053        3005714    0.0

[13560 rows x 2 columns], 'id_07':        TransactionID  id_07
112          2988062   -1.0
290          3352009   14.0
587          3105735    8.0
649          3032014   14.0
659          3034415   22.0
...              ...    ...
58520        3204405   25.0
58932        3245230   16.0
59001        3035860   15.0
59007        3511725    7.0
59029        3274834   17.0

[473 rows x 2 columns], 'id_08':        TransactionID  id_08
112          2988062 -100.0
290          3352009  -35.0
587          3105735  -23.0
649          3032014  -47.0
659          3034415  -31.0
...              ...    ...
58520        3204405  -32.0
58932        3245230  -19.0
59001        3035860 -100.0
59007        3511725  -33.0
59029        3274834  -16.0

[473 rows x 2 columns], 'id_09':        TransactionID  id_09
0            3054316    0.0
19           3555798    0.0
23           3002719    0.0
25           3436575    0.0
45           3167602    0.0
...              ...    ...
59031        3044043    0.0
59038        3046383    0.0
59041        3270802    0.0
59046        3421777    0.0
59053        3005714    0.0

[7411 rows x 2 columns], 'id_10':        TransactionID  id_10
0            3054316    0.0
19           3555798    0.0
23           3002719    0.0
25           3436575    0.0
45           3167602    0.0
...              ...    ...
59031        3044043    0.0
59038        3046383    0.0
59041        3270802    0.0
59046        3421777    0.0
59053        3005714    0.0

[7411 rows x 2 columns], 'id_11':        TransactionID  id_11
0            3054316  100.0
6            3039454  100.0
9            3081028  100.0
11           3136642  100.0
12           3345613  100.0
...              ...    ...
59038        3046383  100.0
59041        3270802  100.0
59045        3259392  100.0
59046        3421777  100.0
59053        3005714  100.0

[13978 rows x 2 columns], 'id_12':        TransactionID     id_12
0            3054316  NotFound
6            3039454  NotFound
9            3081028  NotFound
11           3136642  NotFound
12           3345613  NotFound
...              ...       ...
59038        3046383  NotFound
59041        3270802  NotFound
59045        3259392  NotFound
59046        3421777  NotFound
59053        3005714  NotFound

[14302 rows x 2 columns], 'id_13':        TransactionID  id_13
0            3054316   52.0
11           3136642   52.0
12           3345613   33.0
19           3555798   52.0
22           3003545   49.0
...              ...    ...
59033        2990046   49.0
59038        3046383   52.0
59045        3259392   52.0
59046        3421777   64.0
59053        3005714   52.0

[12670 rows x 2 columns], 'id_14':        TransactionID  id_14
0            3054316 -360.0
6            3039454 -360.0
9            3081028 -480.0
11           3136642 -300.0
14           2990938 -300.0
...              ...    ...
59033        2990046 -300.0
59038        3046383 -300.0
59041        3270802 -300.0
59045        3259392 -420.0
59053        3005714 -360.0

[7857 rows x 2 columns], 'id_15':        TransactionID  id_15
0            3054316  Found
6            3039454    New
9            3081028    New
11           3136642    New
12           3345613    New
...              ...    ...
59038        3046383  Found
59041        3270802  Found
59045        3259392    New
59046        3421777  Found
59053        3005714  Found

[13979 rows x 2 columns], 'id_16':        TransactionID     id_16
0            3054316  NotFound
6            3039454  NotFound
9            3081028  NotFound
11           3136642  NotFound
12           3345613  NotFound
...              ...       ...
59038        3046383     Found
59041        3270802     Found
59045        3259392  NotFound
59046        3421777     Found
59053        3005714     Found

[12784 rows x 2 columns], 'id_17':        TransactionID  id_17
0            3054316  166.0
6            3039454  166.0
9            3081028  166.0
11           3136642  166.0
12           3345613  225.0
...              ...    ...
59038        3046383  166.0
59041        3270802  166.0
59045        3259392  166.0
59046        3421777  225.0
59053        3005714  225.0

[13818 rows x 2 columns], 'id_18':        TransactionID  id_18
12           3345613   15.0
14           2990938   12.0
22           3003545   13.0
23           3002719   15.0
46           3120878   15.0
...              ...    ...
58991        3397348   15.0
59007        3511725   13.0
59029        3274834   13.0
59033        2990046   15.0
59041        3270802   15.0

[4405 rows x 2 columns], 'id_19':        TransactionID  id_19
0            3054316  312.0
6            3039454  139.0
9            3081028  299.0
11           3136642  100.0
12           3345613  417.0
...              ...    ...
59038        3046383  390.0
59041        3270802  312.0
59045        3259392  410.0
59046        3421777  254.0
59053        3005714  427.0

[13812 rows x 2 columns], 'id_20':        TransactionID  id_20
0            3054316  214.0
6            3039454  404.0
9            3081028  222.0
11           3136642  535.0
12           3345613  507.0
...              ...    ...
59038        3046383  489.0
59041        3270802  600.0
59045        3259392  222.0
59046        3421777  507.0
59053        3005714  507.0

[13806 rows x 2 columns], 'id_21':        TransactionID  id_21
112          2988062  657.0
290          3352009  252.0
587          3105735  252.0
649          3032014  306.0
659          3034415  253.0
...              ...    ...
58520        3204405  252.0
58932        3245230  440.0
59001        3035860  668.0
59007        3511725  727.0
59029        3274834  638.0

[472 rows x 2 columns], 'id_22':        TransactionID  id_22
112          2988062   41.0
290          3352009   14.0
587          3105735   14.0
649          3032014   14.0
659          3034415   14.0
...              ...    ...
58520        3204405   14.0
58932        3245230   41.0
59001        3035860   14.0
59007        3511725   14.0
59029        3274834   14.0

[473 rows x 2 columns], 'id_23':        TransactionID                 id_23
112          2988062    IP_PROXY:ANONYMOUS
290          3352009  IP_PROXY:TRANSPARENT
587          3105735  IP_PROXY:TRANSPARENT
649          3032014  IP_PROXY:TRANSPARENT
659          3034415    IP_PROXY:ANONYMOUS
...              ...                   ...
58520        3204405  IP_PROXY:TRANSPARENT
58932        3245230    IP_PROXY:ANONYMOUS
59001        3035860       IP_PROXY:HIDDEN
59007        3511725  IP_PROXY:TRANSPARENT
59029        3274834  IP_PROXY:TRANSPARENT

[473 rows x 2 columns], 'id_24':        TransactionID  id_24
112          2988062   15.0
290          3352009   11.0
587          3105735   11.0
649          3032014   11.0
659          3034415   11.0
...              ...    ...
58482        3186424   11.0
58520        3204405   11.0
59001        3035860   15.0
59007        3511725   11.0
59029        3274834   16.0

[443 rows x 2 columns], 'id_25':        TransactionID  id_25
112          2988062  161.0
290          3352009  321.0
587          3105735  321.0
649          3032014  359.0
659          3034415  276.0
...              ...    ...
58520        3204405  321.0
58932        3245230  511.0
59001        3035860  126.0
59007        3511725  130.0
59029        3274834  205.0

[469 rows x 2 columns], 'id_26':        TransactionID  id_26
112          2988062  159.0
290          3352009  100.0
587          3105735  169.0
649          3032014  121.0
659          3034415  121.0
...              ...    ...
58520        3204405  169.0
58932        3245230  150.0
59001        3035860  161.0
59007        3511725  146.0
59029        3274834  204.0

[472 rows x 2 columns], 'id_27':        TransactionID  id_27
112          2988062  Found
290          3352009  Found
587          3105735  Found
649          3032014  Found
659          3034415  Found
...              ...    ...
58520        3204405  Found
58932        3245230  Found
59001        3035860  Found
59007        3511725  Found
59029        3274834  Found

[473 rows x 2 columns], 'id_28':        TransactionID  id_28
0            3054316  Found
6            3039454    New
9            3081028    New
11           3136642    New
12           3345613    New
...              ...    ...
59038        3046383  Found
59041        3270802  Found
59045        3259392    New
59046        3421777  Found
59053        3005714  Found

[13978 rows x 2 columns], 'id_29':        TransactionID     id_29
0            3054316     Found
6            3039454  NotFound
9            3081028  NotFound
11           3136642  NotFound
12           3345613  NotFound
...              ...       ...
59038        3046383     Found
59041        3270802     Found
59045        3259392  NotFound
59046        3421777     Found
59053        3005714     Found

[13978 rows x 2 columns], 'id_30':        TransactionID             id_30
0            3054316         Windows 7
6            3039454       Windows 8.1
9            3081028        iOS 11.1.2
11           3136642        Windows 10
14           2990938        Windows 10
...              ...               ...
59029        3274834         Windows 7
59033        2990046        iOS 11.1.2
59038        3046383         Windows 7
59041        3270802  Mac OS X 10_11_6
59045        3259392        Windows 10

[7602 rows x 2 columns], 'id_31':        TransactionID                    id_31
0            3054316              chrome 63.0
6            3039454      ie 11.0 for desktop
9            3081028       mobile safari 11.0
11           3136642              chrome 63.0
12           3345613  chrome 64.0 for android
...              ...                      ...
59038        3046383              chrome 63.0
59041        3270802           safari generic
59045        3259392      ie 11.0 for desktop
59046        3421777              chrome 65.0
59053        3005714              chrome 49.0

[13909 rows x 2 columns], 'id_32':        TransactionID  id_32
0            3054316   24.0
6            3039454   24.0
9            3081028   32.0
11           3136642   24.0
14           2990938   24.0
...              ...    ...
59029        3274834   24.0
59033        2990046   32.0
59038        3046383   24.0
59041        3270802   24.0
59045        3259392   24.0

[7603 rows x 2 columns], 'id_33':        TransactionID      id_33
0            3054316  2048x1152
9            3081028   1334x750
11           3136642  1920x1080
14           2990938  1920x1080
19           3555798   1600x900
...              ...        ...
59029        3274834  1680x1050
59033        2990046  2208x1242
59038        3046383  1920x1080
59041        3270802   1280x800
59045        3259392  1920x1080

[7201 rows x 2 columns], 'id_34':        TransactionID           id_34
0            3054316  match_status:2
6            3039454  match_status:2
9            3081028  match_status:1
11           3136642  match_status:2
14           2990938  match_status:2
...              ...             ...
59029        3274834  match_status:2
59033        2990046  match_status:1
59038        3046383  match_status:2
59041        3270802  match_status:2
59045        3259392  match_status:2

[7640 rows x 2 columns], 'id_35':        TransactionID id_35
0            3054316     T
6            3039454     T
9            3081028     T
11           3136642     T
12           3345613     F
...              ...   ...
59038        3046383     T
59041        3270802     T
59045        3259392     T
59046        3421777     F
59053        3005714     F

[13979 rows x 2 columns], 'id_36':        TransactionID id_36
0            3054316     F
6            3039454     T
9            3081028     F
11           3136642     F
12           3345613     F
...              ...   ...
59038        3046383     F
59041        3270802     T
59045        3259392     F
59046        3421777     F
59053        3005714     T

[13979 rows x 2 columns], 'id_37':        TransactionID id_37
0            3054316     T
6            3039454     T
9            3081028     T
11           3136642     T
12           3345613     T
...              ...   ...
59038        3046383     T
59041        3270802     T
59045        3259392     T
59046        3421777     T
59053        3005714     T

[13979 rows x 2 columns], 'id_38':        TransactionID id_38
0            3054316     F
6            3039454     T
9            3081028     T
11           3136642     F
12           3345613     F
...              ...   ...
59038        3046383     F
59041        3270802     T
59045        3259392     T
59046        3421777     F
59053        3005714     F

[13979 rows x 2 columns], 'DeviceType':        TransactionID DeviceType
0            3054316    desktop
6            3039454    desktop
9            3081028     mobile
11           3136642    desktop

Let's re-check the edges we defined.

In [ ]:

import glob

file_list = glob.glob('./data/*edgelist.csv')

edges = ",".join(map(lambda x: x.split("/")[-1], [file for file in file_list if "relation" in file]))

edges_full = ''
for etype in edge_types:
    edges_full += ',data/relation_{}_edgelist.csv'.format(etype)

In [ ]:
edges

'relation_card2_edgelist.csv,relation_addr2_edgelist.csv,relation_card5_edgelist.csv,relation_addr1_edgelist.csv,relation_card4_edgelist.csv,relation_ProductCD_edgelist.csv,relation_card6_edgelist.csv,relation_card3_edgelist.csv,relation_card1_edgelist.csv,relation_P_emaildomain_edgelist.csv,relation_R_emaildomain_edgelist.csv,relation_id_01_edgelist.csv,relation_TransactionID_edgelist.csv,relation_id_03_edgelist.csv,relation_id_02_edgelist.csv,relation_id_04_edgelist.csv,relation_id_06_edgelist.csv,relation_id_05_edgelist.csv,relation_id_07_edgelist.csv,relation_id_08_edgelist.csv,relation_id_10_edgelist.csv,relation_id_09_edgelist.csv,relation_id_13_edgelist.csv,relation_id_14_edgelist.csv,relation_id_12_edgelist.csv,relation_id_16_edgelist.csv,relation_id_11_edgelist.csv,relation_id_15_edgelist.csv,relation_id_17_edgelist.csv,relation_id_19_edgelist.csv,relation_id_18_edgelist.csv,relation_id_21_edgelist.csv,relation_id_23_edgelist.csv,relation_id_22_edgelist.csv,relation_id_24_edgelist.csv,relation_id_20_edgelist.csv,relation_id_25_edgelist.csv,relation_id_27_edgelist.csv,relation_id_31_edgelist.csv,relation_id_28_edgelist.csv,relation_id_32_edgelist.csv,relation_id_26_edgelist.csv,relation_id_29_edgelist.csv,relation_id_30_edgelist.csv,relation_id_33_edgelist.csv,relation_id_34_edgelist.csv,relation_id_35_edgelist.csv,relation_id_36_edgelist.csv,relation_id_38_edgelist.csv,relation_id_37_edgelist.csv,relation_DeviceType_edgelist.csv,relation_DeviceInfo_edgelist.csv'