<a href="https://colab.research.google.com/github/ekaratnida/Applied-machine-learning/blob/master/Exercise/GetData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pwd

/content

In [12]:
import pandas as pd
%time
df = pd.read_csv('/content/drive/MyDrive/data/diabetes.csv')
df.head()

CPU times: user 4 µs, sys: 0 ns, total: 4 µs
Wall time: 8.82 µs

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [13]:
%time
df.to_parquet('/content/drive/MyDrive/data/df.parquet.gzip', compression='gzip')

CPU times: user 2 µs, sys: 0 ns, total: 2 µs
Wall time: 5.48 µs

In [14]:
%time
df2 = pd.read_parquet('df.parquet.gzip')
df2.head()

CPU times: user 4 µs, sys: 1e+03 ns, total: 5 µs
Wall time: 9.06 µs

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]